<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">提出確認</h3>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                審査情報提出後は、審査が完了するまで<br>
                情報の編集及び修正ができません。<br>
                提出します。アニマルライン利用料金規定をご確認の上<br>
                審査情報提出をお願い致します。
                <br>
                ----------------------------------------<br>
                アニマルライン利用料金規定<br>
                販売手数料：15%<br>
                （ 2022年1月31日申請分まで無料）<br>
                サイト掲載料：無料<br>
                遺伝病DNA検査料：無料<br>
                <div class="ec-checkbox">
                    <label>
                        <div class="form-check">        
                            <input type="checkbox" id="agree" name="agree" class="form-check-input" value="1" style="margin-top: 8px">
                            <label class="form-check-label" for="agree">
                                規約に同意する
                            </label>
                        </div>
                    </label>
                </div>
                ----------------------------------------
                <div id="errorMsg" style="display: none">
                    <span style="color:red; font-weight: bold">提出には規定に同意が必要です。</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">いいえ</button>
                <button id="confirm-yes" type="button" class="btn btn-primary">はい</button>
            </div>
        </div>
    </div>
</div>
