<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                検査キットの発送受付は最大２セット（１２本）となっております。キット到着後改めてお申し込みください
            </div>
            <div class="modal-footer">
                <button id="confirm-back" type="button" class="btn btn-primary">はい</button>
            </div>
        </div>
    </div>
</div>
