{% set site_type = 'breeder' %}
{% extends 'animalline/breeder/frame.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/index.css?ver=2110291') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/faq/page.css?ver=2110291') }}">
{% endblock %}

{% block javascript %}

{% endblock %}

{% block main %}
    <main role="main" id="container">
        <div class="page-inner">
    
        <section id="page-mv__faq" class="page-mv_common">
            <h2>Ｑ＆Ａ</h2>
            <small>よくあるご質問</small>
        </section>
        
        <section id="faq-content01">
			<div class="section-title">■Animallineのご利用について</div>

            <dl>
                <dt>Animallineとはどのようなサイトですか？</dt>
                <dd>
                    Animallineは全国の登録ブリーダーの子犬・子猫を紹介するサイトです。<br />
                    掲載している子犬・子猫はすべて遺伝病DNA検査を通過しています。
                </dd>
            </dl>

            <dl>
                <dt>遺伝病DNA検査とは何ですか？</dt>
                <dd>
                    DNAの変異（突然変異）を検出する検査のことを言います。<br />
                    遺伝子検査を行うことで、遺伝子の変異によって発症する遺伝性疾患のリスク判定が出来ます。<br />
                    親から受け継いだ変異遺伝子を検査し、将来発症する遺伝性の病気リスクを判定します。
                </dd>
            </dl>

            <dl>
                <dt>遺伝病とはなんですか？</dt>
                <dd>
                    遺伝病とは、遺伝子が変異することで発症する病気のことです。<br />
                    染色体や遺伝子の変異によって発症する病気です。<br />
                    親がもつ染色体や遺伝子の変異が子に伝わる（遺伝する）場合と、親自身には全く変異がないにもかかわらず、突然変異により、子の遺伝子・染色体に変異が生じ病気になる場合があります。
                </dd>
            </dl>

            <dl>
                <dt>なぜ遺伝子検査を行なうのですか？</dt>
                <dd>
                    安心・安全を皆様に提供するために実施しております。<br />
                    遺伝子検査を行う意義として大きく以下の3点が挙げられます。<br />
                    1. 治療や生活環境の指針を示す<br />
                    2. 発症リスクを知る<br />
                    3. 変異遺伝子を次世代に残さない
                </dd>
            </dl>
				
            <dl>
                <dt>検査項目を教えてください。</dt>
                <dd>
                    申し訳ございません。<br />
                    掲載されている仔犬・子猫の検査項目に関しては開示しておりません。<br />
                    犬種・猫種毎に適切な検査項目を選択しておりますのでご安心ください。
                </dd>
            </dl>

            <dl>
                <dt>検査結果を教えてください。</dt>
                <dd>
                    ご成約後、ご希望された場合に検査結果のPDFをダウンロードできます。
                </dd>
            </dl>

            <dl>
                <dt>Animallineからのメールが届きません。</dt>
                <dd>
                    当サイトにご登録いただいたメールアドレスにお間違いが無いかどうか、また当サイトからのメールが迷惑メールフォルダに振り分けられていないか、再度ご確認ください。<br />

                    ◆メールが届かない原因<br />
                    ドメイン指定受信などの受信制限を設定されている場合には、【animalline.jp】の受信許可設定をお願いいたします。（※各設定方法につきましては、お客様のご利用環境により異なりますので、携帯電話会社等にお問い合わせください。）
                </dd>
            </dl>

            <dl>
                <dt>ブリーダーの評価はいつできますか？</dt>
                <dd>
                    評価については、実際にブリーダーより子犬・子猫ををお迎えいただいたお客様のみ評価を行う事が出来ます。<br />
                    無事にお引き渡しが完了されましたら、評価をご入力ください。
                </dd>
            </dl>


            <div class="section-title">■Animallineの子犬・子猫について</div>
            <dl>
                <dt>どうやって子犬・子猫を探せばいいですか？</dt>
                <dd>
                    子犬・子猫をお探しいただくには、サイト上部の「犬を探す」「猫を探す」をクリック後、ご希望の犬種や性別等をご選択いただき、「この条件で検索」をクリックしていただくと検索を行う事が出来ます。
                </dd>
            </dl>

            <dl>
                <dt>子犬・子猫についての質問はどこに問い合わせればよろしいですか？</dt>
                <dd>
                    子犬・子猫についての質問は、直接ブリーダーにお尋ねください。<br />
                    ブリーダーにお問い合わせいただくには、子犬・子猫の詳細画面の「見学希望/お問い合わせ（無料）」よりブリーダーにご質問をしていただきますと、ブリーダーよりお客様へ直接ご連絡があります。
                </dd>
            </dl>

            <dl>
                <dt>お気に入りの登録はどうするんですか？</dt>
                <dd>
                    お気に入りの子犬・子猫がいる場合には、当該の子犬・子猫詳細ページの上部に表示されている「♥お気に入りに追加」のボタンを押していただくとお気に入りに登録されます。
                </dd>
            </dl>

            <dl>
                <dt>産まれて間もない子犬・子猫が欲しいのですが……</dt>
                <dd>
                    動物愛護法の定めにより、生後56日を過ぎていない子犬の引き渡しは禁止されております。<br />
                    なお、生後56日を過ぎていなくても、購入検討のために見学することは可能です。<br />
                    当サイトには生後56日を過ぎていない子犬も掲載されておりますが、お問い合わせの際はブリーダーと協議の上、生後56日を過ぎてからお迎えいただくようお願いいたします。
                </dd>
            </dl>

            <dl>
                <dt>子犬をお迎えするまでの流れを教えてください</dt>
                <dd>
                    1. まずは『Animalline』のサイト上でご希望に沿う子犬・子猫をお探しください。<br />
                    <br />
                    2. 気になる子犬・子猫がいたら、子犬の詳細画面の「この子犬・子猫の見学希望/お問い合わせ（無料）]より<br />
                    　ブリーダーにお問い合わせいただくと、ブリーダーよりお客様へメッセージが送られます。<br />
                    <br />
                    3. 子犬・子猫やブリーダーについて、もしお客様側で質問があればブリーダーにお尋ねいただき、<br />
                    　少しでも購入の意思が高まった場合には、見学の日取りをブリーダーと決めていただきます。<br />
                    　※動物愛護法によって購入前の子犬・子猫の「対面販売・現物確認」が義務付けられています。<br />
                    <br />
                    4. 子犬・子猫を迎える決心がついたら、ブリーダーに購入意思を伝えてください。<br />
                    　※子犬・子猫のお引き渡し日や代金の支払い方法等は、ブリーダーとご相談ください。<br />
                    <br />
                    5. 子犬のお引き渡し日が決定したら、取引成立のボタンをマイページよりクリックし、ご希望のお客様は「ご成約特典」をお申し込みください。<br />
                    <br />
                    6.無事に引き渡しが完了したら、よろしければブリーダー評価をご入力ください。
                </dd>
            </dl>

            <dl>
                <dt>見学希望、問い合わせしましたがキャンセルしたいです</dt>
                <dd>
                    「申し訳ありませんが、今回は見送らせていただきます。」の一言でも構いませんので、必ずブリーダーまでキャンセルの旨をご連絡してください。
                </dd>
            </dl>

            <dl>
                <dt>子犬・子猫を見学したい場合はどのようにしたらよろしいですか？</dt>
                <dd>
                    子犬・子猫詳細ページの「この子犬の見学希望/お問い合わせ」ボタンをクリックしていただき、ブリーダーへ直接お問い合わせください。
                </dd>
            </dl>

            <dl>
                <dt>必ず子犬・子猫を見学しなくてはいけませんか？</dt>
                <dd>
                    はい。見学していただく必要があります。<br />
                    動物愛護管理法では、動物販売業者（ブリーダー）はお客様に対して現物確認・対面説明を行うことが義務付けられています。その際にブリーダーから子犬に関する説明を受けてください。
                </dd>
            </dl>

            <dl>
                <dt>希望の子犬・子猫がいたのですが、自宅からかなり遠いです……</dt>
                <dd>
                    動物愛護法の定めにより、動物販売業者（ブリーダー）はお客様に対して、自身の事業所にて現物確認・対面説明を行うことが義務付けられています。<br />
                    このため、遠方のブリーダーから購入する場合でも、購入する前または購入時に、必ず一度はブリーダーの事業所で子犬を見学し、説明を受けることが必要になります。
                </dd>
            </dl>

            <dl>
                <dt>子犬・子猫はどのように引き渡しを受ければいいのですか？</dt>
                <dd>
                    原則として、ブリーダーの犬舎・猫舎等まで直接お迎えに行っていただく必要がございます。
                </dd>
            </dl>

            <dl>
                <dt>子犬・子縁代金の他に必要な費用はありますか？</dt>
                <dd>
                    別途ワクチン代が必要であったり、お引き渡し方法によっては送料や交通費等かかる場合がございますので、子犬・子猫詳細ページの「基本情報」「紹介文」「生体保障内容」「引き渡し方法」の欄をご参照ください。<br />
                    なお、当サイトのご利用料などは一切ございません。
                </dd>
            </dl>

            <dl>
                <dt>子犬・子猫代金はAnimallineに支払えばいいのでしょうか？</dt>
                <dd>
                    子犬・子猫代金は直接ブリーダーにお支払いいただきます。<br />
                    ブリーダーによって対応出来る方法が異なりますので、詳細につきましては、直接ブリーダーまでご確認下さい。
                </dd>
            </dl>

            <dl>
                <dt>問い合わせ当日の見学は可能ですか？</dt>
                <dd>
                    各ブリーダーの都合により、お問い合わせ当日の見学対応や、場合によっては当日中のお問い合わせへの返答ができないこともあります。<br />
                    他のお客様のご対応や、子犬の出産、ドッグショーへの参加など、お問い合わせいただく日によって、都合がつかない場合がありますので、あらかじめご了承ください。
                </dd>
            </dl>

            <dl>
                <dt>子犬の購入が決まったのですが、事務局に報告は必要ですか？</dt>
                <dd>
                    いいえ、必要ありません。<br />
                    なお、当サイトで提供している『ご成約特典』をご希望の場合は、お申込みが必要になります。<br />
                    ご希望の場合は、ご成約後に自動送信されるAnimallineからのメールに記載のURLよりお申し込みください。
                </dd>
            </dl>

            <div class="section-title">■ブリーダーとのやりとりについて</div>
            <dl>
                <dt>ブリーダーから連絡がありません</dt>
                <dd>
                    ブリーダーによっては、子犬の出産や、ドッグショーへの参加等で、すぐに連絡ができない場合がありますので、3日程度はブリーダーからの連絡をお待ちいただきますようお願いいたします。<br />
                    ブリーダーからのご連絡は、マイページのメッセージ機能を通じて届きますので、マイページで新着メッセージが届いていないかご確認ください。
                </dd>
            </dl>

            <dl>
                <dt>ブリーダーの連絡先を教えてください</dt>
                <dd>
                    サイト上には、ブリーダーの連絡先は公開しておりません。<br />
                    「この子犬・子猫の見学希望/お問い合わせ（無料）」からブリーダーへお問い合わせいただき、メッセージにて連絡を取り合ってください。<br />
                    必要に応じて、お話し合いの中でブリーダーへ連絡先をご確認いただくようお願いします。<br />
                    なお、事務局からはブリーダーの連絡先をお伝えできかねますので、ご了承ください。
                </dd>
            </dl>

            <dl>
                <dt>ブリーダーとトラブルになったら、どうすればいいですか？</dt>
                <dd>
                    万が一ブリーダーとトラブルとなった場合は、まずはブリーダーとお客様との間で解決策をお話し合いください。もしお話し合いを行っても解決しなかった場合には、お手数をお掛け致しますが事務局までその旨をご連絡いただければと思います。<br />
                    尚、当サイトの利用規約にも記載のある通り、ブリーダー、利用者、その他第三者の間でのトラブルに関しては最終的に当事者間で解決していただきます。
                </dd>
            </dl>

            <dl>
                <dt>血統書はいつ届きますか？</dt>
                <dd>
                    血統書は、各ブリーダーが発行手続きを行い、お客様に直接お渡ししておりますので、ブリーダーに直接お問い合わせください。血統書の発行団体によって発行するまでに時間がかかる場合もございます。
                </dd>
            </dl>

            <div class="section-title">■ご成約特典について</div>
            <dl>
                <dt>ご成約特典って何ですか？</dt>
                <dd>
                    ご成約特典とは、お申込みいただいたお客様を対象に、プレミアムドッグフード（犬・猫・月齢により異なります）、ペットシーツ、Animalline ECサイトでクーポン1,000円分をプレゼントしております。
                </dd>
            </dl>

            <dl>
                <dt>成約特典はどこから申し込めばいいですか？</dt>
                <dd>
                    ご成約特典のお申し込みについては、ご成約後に自動送信されるAnimallineからの「[アニマルライン] 取引完了通知」メールに記載のございます、お申し込みページのURLよりお申し込みください。<br />
                    もし、ご案内のメールを削除してしまった場合には、事務局までご連絡いただければと思います。
                </dd>
            </dl>

            <dl>
                <dt>成約特典のポイントの発行状況はどこで確認できますか？</dt>
                <dd>
                    ポイントの発行は、成約特典の発送後に行なっております。<br />
                    成約特典の発送に数日お時間を頂いておりますのでお待ちくださいますようお願いいたします。<br />
                    なお、ポイントの発行後は、Animalline ECサイトのマイページからご確認いただけます。
                </dd>
            </dl>

            <div class="section-title">■会員について</div>
            <dl>
                <dt>会員登録とは何ですか？</dt>
                <dd>
                    会員登録をしていただいたお客様にはそれぞれ「マイページ」が設けられ、マイページ上で子犬・子猫のお気に入り登録を確認する事が可能です。<br />
                    尚、会員登録は無料ですので是非この機会にご登録ください。<br />
                    なお、当サイトで会員登録を行っていただくと「Animalline　ECサイト」等、関連するサイトやサービスでも会員機能をご利用いただくことが可能です。
                </dd>
            </dl>

            <dl>
                <dt>どうすれば会員登録できますか？</dt>
                <dd>
                    会員登録をしていただくには、当サイトの上部にございます「ペットオーナー様会員登録」より登録していただく事ができます。<br />
                    また、子犬の見学やお問い合わせ希望される際は「この子犬・子猫の見学希望/お問い合わせ（無料）」のボタンを、お気に入り登録をされる場合には「♡お気に入りに追加」を押していただくとする事ができます。
                </dd>
            </dl>

            <dl>
                <dt>会員登録や会員機能の利用に費用は掛かりますか？</dt>
                <dd>
                    会員登録および会員機能のご利用に費用は必要ありません。無料でご利用いただけます。
                </dd>
            </dl>

            <dl>
                <dt>会員登録するとどのような事ができますか？</dt>
                <dd>
                    会員登録をしていただくと、下記のサービスをご利用いただくことが可能となります。<br />
                    <br />
                    ＜サイト上＞<br />
                    ・子犬・子猫の見学希望等のお問い合わせ手続きができます。<br />
                    ・気になる子犬・子猫をお気に入り登録できます。<br />
                    <br />
                    ＜マイページ＞<br />
                    お客様それぞれに「マイページ」が設けられ、お客様がご利用されている情報を一括で管理できます。<br />
                    ・子犬・子猫のお問い合わせ履歴の確認ができます。<br />
                    ・お気に入り登録をしている子犬・子猫を確認できます。
                </dd>
            </dl>

            <dl>
                <dt>登録しているメールアドレスを変更したいのですが。</dt>
                <dd>
                    マイページの「会員情報編集」より変更したいメールアドレスをご入力いただき、ご変更のお手続きを行ってください。
                </dd>
            </dl>

            <dl>
                <dt>電話番号等、登録情報を変更したいのですが。</dt>
                <dd>
                    マイページの「会員情報編集」より、登録情報の変更が可能です。
                </dd>
            </dl>

            <dl>
                <dt>ログインのパスワードを忘れてしまいました。</dt>
                <dd>
                    サイト上部にある「ログイン」より、「ログイン情報をお忘れですか？」を押していただくとパスワードの再発行のページが表示されます。メールアドレスの欄に登録されているメールアドレスをご入力いただくと、ご入力いただいたメールアドレス宛てに「パスワード再設定用URL」が送信されますので、再設定用URLよりパスワードをご設定ください。
                </dd>
            </dl>

            <dl>
                <dt>携帯電話・スマートフォンを機種変更しても情報はそのまま利用できますか？</dt>
                <dd>
                    携帯電話・スマートフォンを機種変更された場合でも、会員機能のご利用の継続は可能です。
                </dd>
            </dl>

            <dl>
                <dt>パソコンで会員登録しましたが、携帯電話・スマートフォンからもマイページを見る事はできますか？</dt>
                <dd>
                    登録しているメールアドレスとパスワードが分かれば、パソコン・携帯電話・スマートフォン問わず、ログインをしてマイページをご覧いただけます。
                </dd>
            </dl>

            <div class="section-title">■ブリーダー登録・子犬/子猫掲載について</div>
            <dl>
                <dt>子犬や子猫を掲載したいのですが、どのように手続きを行えばよろしいでしょうか？</dt>
                <dd>
                    ブリーダー様登録ページにアクセスしていただき、ブリーダー登録を行ってください。<br />
                    ブリーダー登録申請後に審査を行い問題なければ本登録となり子犬や子猫を掲載することができるブリーダー管理画面にログインすることができるようになります。
                </dd>
            </dl>

            <dl>
                <dt>登録したい子犬/子猫の犬種・猫種が一覧に無いようですが追加していただけますか？</dt>
                <dd>
                    ご連絡いただければ追加いたしますので、事務局までご一報ください。
                </dd>
            </dl>

            <dl>
                <dt>ブリーダー登録申請を行いましたが何も連絡が来ないのですが</dt>
                <dd>
                    ブリーダー登録審査後、審査結果通知のメールをお送りしております。<br />
                    もし、審査結果通知のメールが届かない場合は迷惑メールに振り分けられている可能性がありますので、メールの設定をご確認ください。
                </dd>
            </dl>

            <div class="section-title">■その他</div>

            <dl>
                <dt>事務局へのご意見・ご要望について</dt>
                <dd>
                    当サイトではご利用の皆様のご意見を参考に、よりご満足いただけるようサービスの改善を続けて参りたいと思います。<br />
                    事務局へのお問い合わせフォームにご意見・ご要望をご入力のうえ、送信していただければと思います。
                </dd>
            </dl>

            <dl>
                <dt>事務局に電話で問い合わせしたいのですが</dt>
                <dd>
                    子犬・子猫に関するお問い合わせは子犬・子猫ごとのページに見学希望・購入希望申し込みフォームがありますので、そちらからお申し込みいただければブリーダーから折り返しのご連絡が来るようになっています。<br />
                    その他のお問い合わせにつきましては事務局へのお問い合わせフォームよりお問い合わせください。
                </dd>
            </dl>

        </section>

        </div>
        
        <div class="pageback">
        <a href="./"><i class="bi bi-arrow-return-left"></i></a>
        </div>
        <div class="pagetop">
        <a href="#wrapper"><i class="bi bi-arrow-bar-up"></i></a>
        </div>
      
	</main><!-- container -->
{% endblock %}