{% set site_type = 'breeder' %}

{% extends 'ani_frame.twig' %}

{% block main %}
    <div class="sub-title">
        保護団体・ブリーダーTOPになります。要デザイン変更対応
    </div>
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/breeder-style.css') }}">
{% endblock %}
{% block javascript %}{% endblock %}
