{% set site_type = 'adoption' %}
{% extends 'ani_frame.twig' %}

{% block main %}
    <h1>Edit ConservationPetImage</h1>

    {{ include('test/conservation_pet_image/_form.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('conservation_pet_image_index') }}">back to list</a>

    {{ include('test/conservation_pet_image/_delete_form.twig') }}
{% endblock %}
