# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:
    # container parameters
    container.dumper.inline_class_loader: true

    # ec-cube parameters
    env(ECCUBE_LOCALE): 'ja'
    env(ECCUBE_TIMEZONE): 'Asia/Tokyo'
    env(ECCUBE_CURRENCY): 'JPY'
    locale: '%env(ECCUBE_LOCALE)%'
    timezone: '%env(ECCUBE_TIMEZONE)%'
    currency: '%env(ECCUBE_CURRENCY)%'

    # eccube_admin_route: admin
    eccube_admin_route: aniconfig

    session.save_path: '%env(SESSION_SAVE_PATH)%'

    eccube_content_maintenance_file_path: '%kernel.project_dir%/app/config/eccube/.maintenance'

services:
        # default configuration for services in *this* file
    _defaults:
        # automatically injects dependencies in your services
        autowire: true
        # automatically registers your services as commands, event subscribers, etc.
        autoconfigure: true
        # this means you cannot fetch services directly from the container via $container->get()
        # if you need to do this, you can override this setting on individual services
        public: false

        bind:
          $cartPurchaseFlow: '@eccube.purchase.flow.cart'
          $shoppingPurchaseFlow: '@eccube.purchase.flow.shopping'
          $orderPurchaseFlow: '@eccube.purchase.flow.order'
          $_orderStateMachine: '@state_machine.order'
          string $projectDir: '%kernel.project_dir%'
          array $enabledPlugins: ["GmoPaymentGateway4","ProductReview4","ZooopsSendmail","ZooopsSubscription"]

    # Eccube\Controller\Block\SearchProductController:
    #     autowire: true
    #     autoconfigure: true
    #     tags: ['controller.service_arguments']

    Eccube\Controller\Block\:
        resource: '../../../src/Eccube/Controller/Block'
        autowire: true
        autoconfigure: true
        tags: ['controller.service_arguments']

    Eccube\Service\Composer\ComposerApiService:
        public: true
        shared: true
        autowire: true
        autoconfigure: true

    Eccube\Command\GenerateProxyCommand:
        class: Eccube\Command\GenerateProxyCommand
        autowire: true
        autoconfigure: true
        arguments:
            - '@Eccube\Service\EntityProxyService'
            - '%kernel.project_dir%'
            - '%eccube.plugins.enabled%'
        tags: ['console.command']

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    Eccube\:
        resource: '../../../src/Eccube/*'
        # you can exclude directories or files
        # but if a service is unused, it's removed anyway
        exclude:
        - '../../../src/Eccube/{Annotation,Common,Entity,Exception,Log,Plugin,ServiceProvider,Resource,Doctrine/ORM/tools/}'
        - '../../../src/Eccube/Form/Extension'

    Customize\Controller\:
        resource: '../../Customize/Controller'
        # resource: ../../Customize/Controller/
        # resource: '%kernel.project_dir%/app/Customize/Controller'
        tags: ['controller.service_arguments']
        autowire: true
        autoconfigure: true

    Eccube\Log\Logger:
        autowire: true
        autoconfigure: true
        public: false

    Eccube\Common\EccubeConfig:
        public: true

    Eccube\Service\TaxRuleService:
        lazy: true
        public: true

    Eccube\Repository\TaxRuleRepository:
        lazy: true

    Eccube\Service\CartService:
        lazy: true

    Eccube\Service\SystemService:
        lazy: true
        public: true
        arguments:
            $maintenanceFilePath: '%eccube_content_maintenance_file_path%'

    Eccube\Service\Composer\ComposerProcessService:
        lazy: true

    Eccube\Service\OrderHelper:
        lazy: true

    Eccube\Service\Composer\ComposerServiceInterface:
        factory: ['@Eccube\Service\Composer\ComposerServiceFactory', createService]

    # controllers are imported separately to make sure they're public
    # and have a tag that allows actions to type-hint services
    Eccube\Controller\:
        resource: '../../../src/Eccube/Controller'
        # resource: ../../Customize/Controller/
        # resource: '%kernel.project_dir%/src/Eccube/Controller'
        tags: ['controller.service_arguments']
        autowire: true
        autoconfigure: true

    Eccube\Twig\Extension\EccubeBlockExtension:
        tags: ['twig.extension']
        bind:
          $blockTemplates: '%eccube_twig_block_templates%'
    
    Customize\Twig\ProductExtension:
        tags:
            - { name: twig.extension }

    Plugin\:
        resource: '../../../app/Plugin/*'
        exclude: '../../../app/Plugin/*/{Entity,Resource,ServiceProvider,Tests,Codeception,DoctrineMigrations}'

    Customize\:
        resource: '../../../app/Customize/*'
        exclude:
        - '../../../app/Customize/{Entity,Resource,Tests}'
        - '../../../app/Customize/Form/Extension'

    # Animalline拡張
    Customize\EventListener\LogoutListener:
        tags:
            - { name: kernel.event_subscriber }
    
    Customize\Form\Extension\AddCartTypeCustomizer:
        class: Customize\Form\Extension\AddCartTypeCustomizer
        arguments:
            $doctrine: '@doctrine'
            $config: '@Eccube\Common\EccubeConfig'
        tags:
            - { name: form.type_extension }
        autowire: false
        autoconfigure: false
        public: false

    twig.extension.stringloader:
        class: Twig\Extension\StringLoaderExtension
        tags: ['twig.extension']

    eccube.collector.core:
        class: Eccube\DataCollector\EccubeDataCollector
        arguments:
            $locale: '%locale%'
            $currency: '%currency%'
            $enabledPlugins: '%eccube.plugins.enabled%'
            $disabledPlugins: '%eccube.plugins.disabled%'
            $pluginRepository: '@Eccube\Repository\PluginRepository'
        tags:
          - { name: 'data_collector', template: '@toolbar/eccube.html.twig', id: 'eccube_core', priority: -512 }

    # Autowiring can't guess the constructor arguments that are not type-hinted with
    # classes (e.g. container parameters) so you must define those arguments explicitly
    # Eccube\Command\ListUsersCommand:
    #     $emailSender: '%app.notifications.email_sender%'

    # when the service definition only contains arguments, you can omit the
    # 'arguments' key and define the arguments just below the service class
    # Eccube\Twig\AppExtension:
    #     $locales: '%app_locales%'

    # Eccube\EventSubscriber\CommentNotificationSubscriber:
    #     $sender: '%app.notifications.email_sender%'

    # Eccube\EventSubscriber\RedirectToPreferredLocaleSubscriber:
    #     $locales: '%app_locales%'
    #     $defaultLocale: '%locale%'

    # needed for the 'localizeddate' Twig filter
    # Twig\Extensions\IntlExtension: ~
    eccube.logger:
        class: Eccube\Log\Logger
        arguments:
          - '@Eccube\Request\Context'
          - '@monolog.logger'
          - '@monolog.logger.front'
          - '@monolog.logger.admin'
        lazy: true
        public: true

    eccube.log.formatter.line:
        class: Monolog\Formatter\LineFormatter
        arguments:
            - "[%%datetime%%] %%channel%%.%%level_name%% [%%extra.session_id%%] [%%extra.uid%%] [%%extra.user_id%%] [%%extra.class%%:%%extra.function%%:%%extra.line%%] - %%message%% %%context%% [%%extra.http_method%%, %%extra.url%%, %%extra.ip%%, %%extra.referrer%%, %%extra.user_agent%%]\n"

    Eccube\Log\Processor\SessionProcessor:
        tags:
            - { name: monolog.processor }

    Eccube\Log\Processor\TokenProcessor:
        tags:
            - { name: monolog.processor }

    Monolog\Processor\UidProcessor:
        tags:
            - { name: monolog.processor }

    Monolog\Processor\IntrospectionProcessor:
        arguments:
            - 'DEBUG'
            - ['Eccube\\Log', 'Psr\\Log']
        tags:
            - { name: monolog.processor }

    Symfony\Bridge\Monolog\Processor\WebProcessor:
        arguments:
          - url: REQUEST_URI
            ip: REMOTE_ADDR
            http_method: REQUEST_METHOD
            server: SERVER_NAME
            referrer: HTTP_REFERER
            # add user aegnt
            user_agent: HTTP_USER_AGENT
        tags:
            - { name: monolog.processor }
            - { name: kernel.event_listener, event: kernel.request, priority: 1024 }

    Symfony\Component\HttpFoundation\ParameterBag:

    Symfony\Component\DependencyInjection\ContainerInterface: '@service_container'

    Symfony\Component\Translation\TranslatorInterface: '@translator'

    Symfony\Component\HttpFoundation\Session\SessionInterface: '@session'

    # Symfony\Component\Security\Core\Encoder\EncoderFactoryInterface: '@security.encoder_factory'

    Eccube\Twig\Extension\IgnoreRoutingNotFoundExtension:
        # Symfony\Bridge\Twig\Extension\RoutingExtensionの後に登録するため,
        # autoconfigureはfalseにし, CompilerPassで追加する.
        autoconfigure: false

    native_file_session_handler:
        class: Symfony\Component\HttpFoundation\Session\Storage\Handler\NativeFileSessionHandler
        arguments:
            - '%session.save_path%'
    
    session.handler:
        class: Symfony\Component\HttpFoundation\Session\Storage\Handler\StrictSessionHandler
        arguments:
            - '@native_file_session_handler'

    Eccube\Session\Storage\Handler\SameSiteNoneCompatSessionHandler:
        arguments:
            - '@native_file_session_handler'

    Customize\Service\CartService:
        decorates: Eccube\Service\CartService
        
    Customize\Service\OrderHelper:
        decorates: Eccube\Service\OrderHelper
        arguments:
            $container: '@service_container'
            $entityManager: '@doctrine.orm.entity_manager'
            $orderRepository: '@Eccube\Repository\OrderRepository'
            $orderItemTypeRepository: '@Eccube\Repository\Master\OrderItemTypeRepository'
            $orderStatusRepository: '@Eccube\Repository\Master\OrderStatusRepository'
            $deliveryRepository: '@Eccube\Repository\DeliveryRepository'
            $paymentRepository: '@Eccube\Repository\PaymentRepository'
            $deviceTypeRepository: '@Eccube\Repository\Master\DeviceTypeRepository'
            $prefRepository: '@Eccube\Repository\Master\PrefRepository'
            $session: '@session'
            $security: '@Symfony\Bundle\SecurityBundle\Security'
            
    # MobileDetect:
    #     class: MobileDetect\MobileDetect

    # MobileDetect\MobileDetect: ~

    # mobile_detector:
    #         class: MobileDetect\MobileDetect

    Detection\MobileDetect: ~

    mobile_detector:
        class: Detection\MobileDetect

    Eccube\EventListener\TwigInitializeListener:
        arguments:
            $mobileDetector: '@mobile_detector'

    Doctrine\Common\Annotations\AnnotationReader: ~
    
    Eccube\Form\Extension\DoctrineOrmExtension:
        autoconfigure: false
        arguments:
            - '@doctrine.orm.entity_manager'
            - '@Doctrine\Common\Annotations\AnnotationReader'
        tags:
            - { name: 'form.type_extension' }

    session:
        class: Symfony\Component\HttpFoundation\Session\Session
        factory: ['@session.factory', 'createSession']
    
    Plugin\GmoPaymentGateway4\PluginManager:
        arguments:
            $entityManager: '@doctrine.orm.entity_manager'
            $eccubeConfig: '@Eccube\Common\EccubeConfig'
    
    Plugin\GmoPaymentGateway4\Service\PaymentHelperAu:
        arguments:
        - '%eccube.config%'
        - '@Plugin\GmoPaymentGateway4\Service\GmoConfig'
        - '@router'
    
    Plugin\ProductReview4\PluginManager:
        bind:
            $entityManager: '@doctrine.orm.entity_manager'
            $pageRepository: '@Eccube\Repository\PageRepository'
            $eccubeThemeFrontDir: '%eccube_theme_front_dir%'
        public: true

    Eccube\Command\DeleteCartsCommand:
        arguments:
            $locale: '%locale%'
            $timezoneId: '%timezone%'
        tags:
            - { name: 'console.command' }
    
    Eccube\Command\InstallerCommand:
        arguments:
            $params: '@parameter_bag'
        tags:
            - { name: 'console.command' }

    Eccube\Command\PluginGenerateCommand:
        arguments:
            $projectDir: '%kernel.project_dir%'
        tags:
            - { name: 'console.command' }
    
    Eccube\Controller\Admin\Content\MaintenanceController:
        arguments:
            $maintenanceFilePath: '%eccube_content_maintenance_file_path%'
    
    Eccube\DataCollector\EccubeDataCollector:
        arguments:
            $currency: '%currency%'
            $locale: '%locale%'
            $enabledPlugins: '%eccube.plugins.enabled%'
            $disabledPlugins: '%eccube.plugins.disabled%'
            $pluginRepository: '@Eccube\Repository\PluginRepository'
        tags:
            - { name: data_collector, template: '@Eccube/admin/collector/eccube.html.twig', id: 'eccube_core' }
    
    Eccube\Doctrine\EventSubscriber\TaxRuleEventSubscriber:
        arguments:
            $taxRuleService: '@Eccube\Service\TaxRuleService'
        tags:
            - { name: doctrine.event_subscriber }
    
    Eccube\Form\Type\PriceType:
        arguments:
            $eccubeConfig: '@Eccube\Common\EccubeConfig'
            $currency: '%currency%'
        tags:
            - { name: form.type }
    
    Eccube\Repository\PageRepository:
        arguments:
            $userDataRealDir: '%eccube_theme_user_data_dir%'
            $templateRealDir: '%eccube_theme_app_dir%'
            $templateDefaultRealDir: '%eccube_theme_src_dir%'
    
    Eccube\Service\EntityProxyService:
        arguments:
            $projectDir: '%kernel.project_dir%'
    
    Eccube\Service\Composer\ComposerServiceFactory:
        arguments:
            $composerApiService: '@Eccube\Service\Composer\ComposerApiService'

    Customize\Service\MailService:
        autowire: true
        autoconfigure: true
        public: true
    
    #Animalline用にカスタマイズ
    app.eccube.security.success_handler:
        parent: security.authentication.success_handler
        class: Customize\Security\Http\Authentication\EccubeLoginSuccessHandler
        public: true
        arguments:
            - '@security.http_utils'
            - { default_target_path: '/%eccube_admin_route%/' }

    eccube.security.failure_handler:
        class: Eccube\Security\Http\Authentication\EccubeAuthenticationFailureHandler

    Eccube\Controller\AbstractController:
        arguments:
            $eccubeConfig: '@Eccube\Common\EccubeConfig'

    Customize\Form\Extension\ProductTypeExtension:
        tags:
            - { name: form.type_extension }