<script>
    $(function() {
        $('#gmoEpsilonRegularNavList').append(
            '<li class="ec-navlistRole__item {% if regular_mypage_no|default('') == 'regular_suspend' %}active{% endif %}">' +
                '<a href="{{ url('eccube_payment_lite4_mypage_regular_suspend', { 'id': RegularOrder.id }) }}">{{ 'gmo_epsilon.front.mypage.regular_nav__suspend'|trans }}</a>' +
            '</li>'
        );
    });
</script>
