{% set site_type = 'common' %}
{% extends 'ani_frame.twig' %}

{% block main %}
    <h1>Edit CoatColors</h1>

    {{ include('test/coat_colors/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('coat_colors_index') }}">back to list</a>

    {{ include('test/coat_colors/_delete_form.html.twig') }}
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/adoption-style.css') }}">
{% endblock %}
{% block javascript %}{% endblock %}