{#
Copyright(c) 2018 GMO Payment Gateway, Inc. All rights reserved.
http://www.gmo-pg.com/
#}

{% if Customer.getGmoMember is not null %}
<script>
    $(function () {
        // ページ最下部に移動
        $('#gmo_payment_gateway-info').appendTo($('#customer_form > div.c-contentsArea__cols > div > div'));
    });
</script>
<div class="d-none">
  <div id="gmo_payment_gateway-info" class="card rounded border-0 mb-4">
    <div class="card-header">
      <div class="row">
        <div class="col-8">
          <span class="card-title">{{ 'gmo_payment_gateway.admin.customer_edit.title'|trans }}</span>
        </div>
        <div class="col-4 text-right">
          <a data-toggle="collapse" href="#gmo_payment_gateway-info__body" aria-expanded="false" aria-controls="gmo_payment_gateway-info__body">
            <i class="fa fa-angle-up fa-lg"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="collapse show ec-cardCollapse" id="gmo_payment_gateway-info__body">
      <div class="card-body">

        <div class="row mb-2">
          <div class="col-2">
            <span>{{ 'gmo_payment_gateway.admin.customer_edit.member_id'|trans }}</span>
          </div>
          <div class="col">
            {{ Customer.getGmoMember.getMemberId }}
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
{% endif %}
