{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends '@admin/default_frame.twig' %}

{% set menus = ['breeders', 'breeders_dna_check_list'] %}

{% block title %}{{ '検査状況集計'|trans }}{% endblock %}
{% block sub_title %}{{ 'ブリーダー管理'|trans }}{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/tempusdominus-bootstrap-4.min.css', 'admin') }}">
{% endblock stylesheet %}

{% block javascript %}
{% endblock javascript %}

{% block main %}
<div class="c-outsideBlock mb-4">
    <div class="c-outsideBlock__contents">
       <div class="row mb-2">
            <div class="col-auto">
                <select class="form-control"><option value="2016" selected="selected">2016</option><option value="2017">2017</option><option value="2018">2018</option><option value="2019">2019</option><option value="2020">2020</option><option value="2021">2021</option><option value="2022">2022</option><option value="2023">2023</option><option value="2024">2024</option><option value="2025">2025</option><option value="2026">2026</option></select>
            </div>
            <span style="padding: 0.375rem 0">/</span>
            <div class="col-auto">
                <select class="form-control"><option value="1" selected="selected">01</option><option value="2">02</option><option value="3">03</option><option value="4">04</option><option value="5">05</option><option value="6">06</option><option value="7">07</option><option value="8">08</option><option value="9">09</option><option value="10">10</option><option value="11">11</option><option value="12">12</option></select>
            </div>
        </div>
        <button class="btn btn-ec-conversion px-5" type="submit">集計</button>
    </div>
</div>

<div class="c-contentsArea__cols">
    <div class="c-contentsArea__primaryCol">
        <div class="c-primaryCol">
            <div class="card rounded border-0 mb-4 d-block">
                <div class="card-body p-0">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th class="border-top-0 pt-2 pb-2"></th>
                                <th class="border-top-0 pt-2 pb-2">ブリーダー名</th>
                                <th class="border-top-0 pt-2 pb-2">検査頭数</th>
                                <th class="border-top-0 pt-2 pb-2">検査項目数</th>
                                <th class="border-top-0 pt-2 pb-2 pr-3" colspan="3"></th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="align-middle"></td>
                            <td class="align-middle">テストブリーダー</td>
                            <td class="align-middle">3</td>
                            <td class="align-middle">5</td>                                   
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}