{% extends 'ani_frame.twig' %}

{% block main %}
    <div class="sub-title">
        <h1><a href="/adoption/">保護団体TOP</a></h1>
		<h1><a href="/breeder/">ブリーダーTOP</a></h1>
    </div>
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/nomal-style.css') }}">
{% endblock %}
{% block javascript %}{% endblock %}
