{% set site_type = 'common' %}
{% extends 'ani_frame.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/dna/common.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/dna/page.css') }}">
{% endblock %}

{% block main %}
    <div class="page-inner">
    
    
    <section id="trainer-content05">
      <div class="trainer-content05__title">
        <h3><img src="{{ asset('assets/img/trainer/trainer-title04.png') }}" alt="成約特典あり。オンラインしつけセミナー"/></h3>
        <p><span>アニマルラインでマッチング</span><br>
        <span>ご成約されたオーナー様がご参加いただけます</span></p>
      </div>
      <div class="trainer-content05__body">
        <div class="seminar">
          <dl>
            <dt>セミナー内容</dt>
            <dd><i class="bi bi-check-circle"></i>社会化期とは</dd>
            <dd><i class="bi bi-check-circle"></i>トイレを教えるときのポイント</dd>
            <dd><i class="bi bi-check-circle"></i>噛んできたときの対処法</dd>
            <dd><i class="bi bi-check-circle"></i>お散歩に連れて行くタイミング</dd>
          </dl>
          <p>など</p>
        </div>
        <h4>オンラインしつけセミナーでは、<br>
          子犬を飼う際の基本をレクチャーいたします</h4>
      </div>
    </section>
    
    <section id="trainer-content06">
      <div class="inner">
        <div class="trainer-content06__title">
          <h3>開催日時</h3>
          <table>
            <tr>
              <th>第5回</th>
              <td>1.12(水) 16:00〜</td>
            </tr>
            <tr>
              <th>第6回</th>
              <td>1.22(土) 14:00〜</td>
            </tr>
            <tr>
              <th>第7回</th>
              <td>1.28(金) 16:00〜</td>
            </tr>
          </table>
          <p>定期的に開催いたしますので、ご都合のいい日にご参加ください。</p>
        </div>
      </div>
    </section>
      
    </div>
{% endblock %}
{% block javascript %}{% endblock %}

    