<footer class="footer">
    <div class="m-2 p-2"></div>
    <div class="container">
        {% if site_type == 'adoption' %}
            <img src="{{ asset('assets/img/adoption/logo.svg') }}">
        {% elseif site_type == 'breeder' %}
            <img src="{{ asset('assets/img/breeder/logo.svg') }}">
        {% elseif site_type == 'common' %}
            <img src="{{ asset('assets/img/common/logo.svg') }}">
        {% endif %}
            <div class="m-1 p-1"></div>
            <p>
                <small>
                    Copyright ●● 2021 All right reserved
                </small>
            </p>
        </div>
    </footer>