{% extends 'default_frame.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/index.css?ver=211102_2') }}">
{% endblock %}
{% block javascript %}
{# カレンダー表示用スクリプト #}
<script>

</script>

{% endblock %}

{% block main %}
    <main role="main" id="container" style="width:100vw">
        <div id="contents">
            <div style="margin:20px;text-align:center">
			    <h1>ＤＮＡ検査の販売</h1>
                ここに説明が入ります。
            </div>
        </div><!-- contents -->
    </main><!-- container -->
{% endblock %}