{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{# {% extends 'default_frame.twig' %} #}

{% block main %}
    <section id="breeder-column">
        <div class="inner">
            <div class="ec-role">
                <div class="ec-pageHeader">
                    <h1>個人情報保護方針（プライバシーポリシー）</h1>
                </div>
                <div class="ec-off1Grid">
                    <div class="ec-off1Grid__cell">
                        <p>
                            株式会社企画海（以下「当社」）は、あらゆるシーンに役立つ、総合的なプロモーションサービスの遂行をその事業領域とし、企業と消費者に対しより優れたサービスと満足を提供することで、広く社会に貢献することを企業使命としております。 特にコミュニケーション活動に携わる企業として、これらの活動の過程で当社が取り扱う個人情報の保護について、その重要性、必要性を認識し、高い意識をもって努めてまいります。 よって当社はここに個人情報保護方針を制定し、役員、社員、派遣社員、アルバイトを含む全ての従業員が一丸となって個人情報の保護に取り組む事を宣言いたします。
                        </p>
                        <p>
                            1.当社は、個人情報の取扱いに関する法令、国が定める指針その他の規範を遵守するため、日本工業規格「個人情報保護マネジメントシステム – 要求事項」(JIS Q 15001)に準拠した個人情報保護マネジメントシステムを策定し、適切に運用いたします。
                        </p>
                        <p>
                            2.当社は、事業の内容及び規模を考慮した適切な個人情報の取得、利用及び提供を行います。それには特定された利用目的の達成に必要な範囲を超えた個人情報の取扱いを行わないこと及びそのための措置を講じることを含みます。
                        </p>
                        <p>
                            3.当社は、個人情報の取扱いの全部又は一部を委託する場合は、その取扱いを委託された個人情報の安全管理が図られるよう、委託を受けた者に対する必要かつ適切な監督を行います。
                        </p>
                        <p>
                            4.当社は、本人の同意がある場合又は法令に基づく場合を除き、個人情報を第三者に提供することはありません。
                        </p>
                        <p>
                            5.当社は、個人情報の漏えい、滅失又はき損の防止及び是正のための措置を講じます。
                        </p>
                        <p>
                            6.当社は、個人情報の取扱いに関する苦情及び相談への適切かつ迅速な対応に努めます。また、当社が保有する開示対象個人情報の開示等の求め(利用目的の通知、開示、訂正・追加又は削除、利用又は提供の停止）を受け付けます。開示等の求めの手続きにつきましては、以下の「個人情報苦情及び相談窓口」までご連絡ください。
                        </p>
                        <p>
                            7.当社は、個人情報保護マネジメントシステムの継続的改善を行ないます。
                        </p>
                        <p>
                            制定：2014年7月4日<br>
                            改訂：2017年2月17日<br>
                            株式会社 企画／海<br>
                            代表取締役 峯澤　克之<br>
                        </p>
                    </div>
                </div>
                <div class="ec-off1Grid">
                    <div class="ec-off1Grid__cell">
                        <div class="ec-heading-bold">当社における個人情報の取扱いについて</div>
                        <p>
                            (個人情報保護法及びJISに基づく公表事項及び本人が容易に知り得る状態に置く事項)
                        </p>
                        <p>
                            1.　個人情報の利用目的（間接的に取得する個人情報または書面以外で取得する個人情報について
                        </p>
                        <p>
                            (1) お取引先様から委託を受ける業務において取り扱う個人情報<br>
                            ・お取引先様からの委託を受けて、販売業務をはじめとする業務を適切に実施するため<br>
                            ・お取引先様からの委託を受けて、商品管理をはじめとする業務を適切に実施するため<br>
                            ・お取引先様からの委託を受けて、販売促進活動をはじめとする業務を適切に実施するため<br>
                            ※なお、個別に利用目的を明示又は通知する場合には、その利用目的によるものとします。<br>
                        </p>
                        <p>
                            (2) 採用媒体管理会社から提供を受ける採用・選考において取り扱う個人情報<br>
                            ・採用媒体管理会社からの提供を受けて、採用・選考を適切に行う為<br>
                            ※なお、個別に利用目的を明示又は通知する場合には、その利用目的によるものとします。<br>
                        </p>
                        <p>
                            2.　開示対象個人情報に関する事項の周知<br>
                            ・すべての「開示対象個人情報」の利用目的や「開示等の求め」の手続き等「開示対象個人情報に関する事項の周知」事項につきましては、以下の「個人情報苦情及び相談窓口」までご連絡ください。遅滞なく回答いたします。

                        </p>
                        <p>
                            ＜個人情報苦情及び相談窓口＞<br>
                            〒168-0074　東京都杉並区上高井戸1-22-12　柏木ビル4階<br>
                            　株式会社企画／海<br>
                            　苦情及び相談窓口責任者：森田幸子<br>
                            　　TEL：03-3290-1211<br>
                            　　FAX：03-3290-7070<br>
                            　　e-mail：info@kikaku-umi.co.jp<br>
                            　　　(受付時間 月曜日～土曜日 祝祭日を除く 10時～16時)<br>
                            <br>
                            【認定個人情報保護団体の名称及び苦情の解決の申し出先】<br>
                            　　認定個人情報保護団体の名称<br>
                            　　　一般財団法人日本情報経済社会推進協会<br>
                            　　苦情の解決の申出先<br>
                            　　　個人情報保護苦情相談室<br>
                            　　住所<br>
                            　　　〒106-0032 東京都港区六本木一丁目９番９号六本木ファーストビル内<br>
                            　　電話番号<br>
                            　　　03-5860-7565<br>
                            　　　0120-700-779<br>
                            　　※当社の商品・サービスに関する問合せ先ではございません<br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}