{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{# {% extends 'default_frame.twig' %} #}

{% block main %}
    <section id="breeder-column">
        <div class="inner">
            <div class="ec-role">
                <div class="ec-pageHeader">
                    <h1>個人情報保護方針（プライバシーポリシー）</h1>
                </div>
                <div class="ec-off1Grid">
                    <div class="ec-off1Grid__cell">
                    グローバル・ブリッジ・ジャパン株式会社（以下「当社」といいます）は、当社サービスをご利用いただいた方又は当社サービスにご関心をお持ちの方（以下「お客様」といいます）の個人情報保護の重要性を認識し、以下のプライバシーポリシー（以下「本ポリシー」といいます）に基づき個人情報の保護に努めます。
                    <div class="m-2 p-2"></div>
                    <h3 class="font-weight-600">1. 個人情報の定義</h3>
                    本ポリシーにおいて、当社サービスを利用するためにお客様からご提供頂くメールアドレス、氏名、住所、電話番号の情報等、生存する個人に関する情報であって、当該情報に含まれる氏名、生年月日その他の記述等により特定の個人を識別することができるもの（他の情報と容易に照合することができ、それにより特定の個人を識別することができることとなるものを含む）を個人情報として取り扱うものとします。</br>
                    </br>
                    また、当社は、お客様の当社サービスのご利用方法に関する情報（IPアドレス、クッキー、ブラウザ情報等）を収集することがあります。これらの情報は、単独では特定の個人を識別することができないため、個人情報とは考えておりません。</br>
                    </br>
                    ただし、これらの情報と個人情報が一体となって使用される場合には、これらの情報も個人情報とみなします。</br>
                    <div class="m-1 p-1"></div>
                    <h3 class="font-weight-600">2. 個人情報の利用目的</h3>
                    当社は、お客様からお預かりした個人情報等を以下の目的のために使用するものとします。</br>
                    </br>
                    会員の個人認証及び会員向け各種サービスの提供</br>
                    サービスの利用に伴う各種連絡・お知らせの配信</br>
                    お客様への連絡、商品・サービスの案内、プレゼントの発送等のため</br>
                    お客様の年齢、職業、性別、趣味・嗜好等に合わせて当社サービスのページ上の情報、サービスおよび広告配信をカスタマイズするため</br>
                    当社サービスの改善や新サービスの開発等に役立てるため</br>
                    当社サービスの利用規約に違反する態様でのご利用を防止するため</br>
                    当社サービスに関して、個人を識別できない形式に加工した統計データを作成するため</br>
                    また、当社は、個人情報の利用目的を変更する場合には、変更前の利用目的と相当の関連性を有すると合理的に認められる範囲を超えては行わず、変更された利用目的について、ご本人に通知し、または公表します。</br>
                    <div class="m-1 p-1"></div>
                    <h3 class="font-weight-600">3. 個人情報の管理</h3>
                    当社は、個人情報を正確かつ最新の状態に保ち、個人情報への不正アクセス・紛失・破損・改ざん・漏洩などを防止するため、セキュリティシステムの維持・管理体制の整備・社員教育の徹底等の必要な措置を講じ、安全対策を実施し個人情報の厳重な管理を行ないます。
                    <div class="m-1 p-1"></div>
                    <h3 class="font-weight-600">4. 個人情報の第三者への開示・提供の禁止</h3>
                    当社は、お預かりした個人情報を適切に管理し、次のいずれかに該当する場合を除き、個人情報を第三者に開示いたしません。</br>
                    </br>
                    お客様の同意が得られた場合、お客様が希望されるサービスを行なうために当社が業務を委託する関係者に対して開示する場合、法令に基づき開示することが必要である場合。</br>
                    法令に基づき裁判所や警察等の公的機関から要請があった場合。</br>
                    法令に特別の規定がある場合。</br>
                    お客様や第三者の生命・身体・財産・名誉を損なうおそれがあり、本人の同意を得ることができない場合。</br>
                    法令や当社のご利用規約・注意事項に反する行動から、当社の権利、財産又はサービスを保護または防禦する必要があり、本人の同意を得ることができない場合。</br>
                    <div class="m-1 p-1"></div>
                    <h3 class="font-weight-600">5. 委託先の監督</h3>
                    当社は、個人情報の取扱いの全部または一部を委託する場合は、委託先と機密保持を含む契約の締結、または、当社が定める約款に合意を求め、委託先において個人情報の安全管理が図られるよう、必要かつ適切な監督を行います。
                    <div class="m-1 p-1"></div>
                    <h3 class="font-weight-600">6. ご本人の照会</h3>
                    お客様がご本人の個人情報の照会・修正・削除などをご希望される場合には、ご本人であることを確認の上、対応させていただきます。
                    <div class="m-1 p-1"></div>
                    <h3 class="font-weight-600">7. 個人情報の保持期間と利用期間について</h3>
                    お客様が当社サービスを利用されなくなった後であっても、当社は、当該個人情報を不特定期間保持することがあります。
                    <div class="m-1 p-1"></div>
                    <h3 class="font-weight-600">8. お問い合せ</h3>
                    当社の個人情報の取扱に関するお問い合せは下記までご連絡ください。</br>
                    </br>
                    グローバル・ブリッジ・ジャパン株式会社　プライバシーポリシー管理担当</br>
                    東京都中野区南台3-37-20</br>
                    TEL 03-5316-2125</br>
                    FAX 03-3290-1332</br>
                    {# {{ '
                        個人情報保護方針
                        株式会社企画/海（以下「当社」といいます）は、当社サービスをご利用いただいた方又は当社サービスにご関心をお持ちの方（以下「お客様」といいます）の個人情報保護の重要性を認識し、以下のプライバシーポリシー（以下「本ポリシー」といいます）に基づき個人情報の保護に努めます。
                        
                        1.個人情報の定義
                        本ポリシーにおいて、当社サービスを利用するためにお客様からご提供頂くメールアドレス、氏名、住所、電話番号の情報等、生存する個人に関する情報であって、当該情報に含まれる氏名、生年月日その他の記述等により特定の個人を識別することができるもの（他の情報と容易に照合することができ、それにより特定の個人を識別することができることとなるものを含む）を個人情報として取り扱うものとします。
                        
                        また、当社は、お客様の当社サービスのご利用方法に関する情報（IPアドレス、クッキー、ブラウザ情報等）を収集することがあります。これらの情報は、単独では特定の個人を識別することができないため、個人情報とは考えておりません。
                        
                        ただし、これらの情報と個人情報が一体となって使用される場合には、これらの情報も個人情報とみなします。
                        
                        2.個人情報の利用目的
                        当社は、お客様からお預かりした個人情報等を以下の目的のために使用するものとします。
                        
                        会員の個人認証及び会員向け各種サービスの提供
                        サービスの利用に伴う各種連絡・お知らせの配信
                        お客様への連絡、商品・サービスの案内、プレゼントの発送等のため
                        お客様の年齢、職業、性別、趣味・嗜好等に合わせて当社サービスのページ上の情報、サービスおよび広告配信をカスタマイズするため
                        当社サービスの改善や新サービスの開発等に役立てるため
                        当社サービスの利用規約に違反する態様でのご利用を防止するため
                        当社サービスに関して、個人を識別できない形式に加工した統計データを作成するため
                        また、当社は、個人情報の利用目的を変更する場合には、変更前の利用目的と相当の関連性を有すると合理的に認められる範囲を超えては行わず、変更された利用目的について、ご本人に通知し、または公表します。
                        
                        3.個人情報の管理
                        当社は、個人情報を正確かつ最新の状態に保ち、個人情報への不正アクセス・紛失・破損・改ざん・漏洩などを防止するため、セキュリティシステムの維持・管理体制の整備・社員教育の徹底等の必要な措置を講じ、安全対策を実施し個人情報の厳重な管理を行ないます。
                        
                        4.個人情報の第三者への開示・提供の禁止
                        当社は、お預かりした個人情報を適切に管理し、次のいずれかに該当する場合を除き、個人情報を第三者に開示いたしません。
                        
                        お客様の同意が得られた場合、お客様が希望されるサービスを行なうために当社が業務を委託する関係者に対して開示する場合、法令に基づき開示することが必要である場合。
                        法令に基づき裁判所や警察等の公的機関から要請があった場合。
                        法令に特別の規定がある場合。
                        お客様や第三者の生命・身体・財産・名誉を損なうおそれがあり、本人の同意を得ることができない場合。
                        法令や当社のご利用規約・注意事項に反する行動から、当社の権利、財産又はサービスを保護または防禦する必要があり、本人の同意を得ることができない場合。
                        5.委託先の監督
                        当社は、個人情報の取扱いの全部または一部を委託する場合は、委託先と機密保持を含む契約の締結、または、当社が定める約款に合意を求め、委託先において個人情報の安全管理が図られるよう、必要かつ適切な監督を行います。
                        
                        6.ご本人の照会
                        お客様がご本人の個人情報の照会・修正・削除などをご希望される場合には、ご本人であることを確認の上、対応させていただきます。
                        
                        7.個人情報の保持期間と利用期間について
                        お客様が当社サービスを利用されなくなった後であっても、当社は、当該個人情報を不特定期間保持することがあります。
                        
                        8.お問い合せ
                        当社の個人情報の取扱に関するお問い合せは下記までご連絡ください。
                        
                        グローバル・ブリッジ・ジャパン株式会社　プライバシーポリシー管理担当
                        東京都中野区南台3-37-20
                        TEL 03-5316-2125
                        FAX　03-3290-1332
                        '|raw|nl2br }} #}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}