{% extends 'animalline/jddc/frame.twig' %}

{% block main %}
<div class="main">
    <div class="row">
        <div class="main-container col-12">
            <h1>JDDC検体状況管理</h1>

            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-12 col-md-8">
                    <a href="{{url('jddc_arrive')}}" class="btn btn-warning w-100 m-1">検査キット到着確認</a>
                </div>
            </div>
            <!--
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-12 col-md-8">
                    <a href="{{url('jddc_result')}}" class="btn btn-warning w-100 m-1">検査結果登録</a>
                </div>
            </div>
             -->
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-12 col-md-8">
                    <a href="{{url('jddc_result_regist')}}" class="btn btn-warning w-100 m-1">検査結果登録</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-12 col-md-8">
                    <a href="{{url('jddc_pet_list')}}" class="btn btn-warning w-100 m-1">検査対象ペット一覧</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}