<script>
    $(function() {
        $('ul.ec-navlistRole__navlist:first').append(
            '<li class="ec-navlistRole__item {% if mypageno|default('') == 'regular_list' %}active{% endif %}">' +
                '<a href="{{ url('eccube_payment_lite4_mypage_regular_list') }}">{{ 'gmo_epsilon.front.mypage.nav__regular_index'|trans }}</a>' +
            '</li>'
        );
    });
</script>
