{% set site_type = 'adoption' %}
{% extends 'animalline/adoption/frame.twig' %}

{% block main %}
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1>特典受取手続き(完了)</h1>
        </div>
    </div>
    <div class="ec-registerCompleteRole">
        <div class="ec-offGrid ec-text-ac">
            <div class="ec-offGrid__cell">
                <div class="ec-reportHeading">
                    <h2>
                        特典受取手続きが完了しました。<br/>
                        特典の発送をお待ちください。<br/>
                    </h2>
                </div>
                <div class="m-2 p-2"></div>
                <div class="ec-off2Grid">
                    <div class="ec-off2Grid__cell">
                        <a class="ec-blockBtn--action bg-adoption mb-4" href={{ url('adoption_mypage') }}>
                            {{ 'マイページへ戻ります'|trans }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/adoption-style.css') }}">
{% endblock %}
{% block javascript %}{% endblock %}