{% set site_type = 'breeder' %}
{% extends 'ani_frame.twig' %}

{% block main %}
    ペット検索画面
</body>
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/breeder-style.css') }}">
{% endblock %}
{% block javascript %}{% endblock %}