<script>
    $(function (){
        $('.ec-orderConfirm:first').append(
            '<div class="ec-rectHeading">' +
            '<h2>支払時期について</h2>' +
            '</div>' +
            '<p>詳細は' + '<a href="{{ url('help_tradelaw') }}" target="_blank">' + 'こちらのページ' + '</a>'+'をご覧ください' + '</p>' +
            '<div class="ec-rectHeading">' +
            '<h2>キャンセル返品について</h2>' +
            '</div>' +
            '<p>詳細は' + '<a href="{{ url('help_tradelaw') }}" target="_blank">' + 'こちらのページ' + '</a>'+'をご覧ください' + '</p>'
        );
    })
</script>
