{% set site_type = 'adoption' %}
{% extends 'ani_frame.twig' %}

{% block main %}
<p class="font-size-16" style="margin-bottom: 20px;">ご入力いただいたメールアドレス宛に、ご本人様確認用のメールをお送りしました。<br>
    メール本文内のURLをクリックすると、本会員登録が完了となります。
</p>
<div class="col-md-8" style="margin: 0 auto;">
    <a class="ec-blockBtn--action bg-adoption" style="margin-bottom: 20px;" href={{url('adoption_top')}}>{{ 'TOPへ'|trans }}</a>
  </div>
</body>
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/adoption-style.css') }}">
{% endblock %}
{% block javascript %}{% endblock %}