@charset "UTF-8";

/* --------------------------------------------------------------- */
/* reset start */
/* --------------------------------------------------------------- */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  background: transparent;
  outline: 0;
}

main,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ul,
li,
ol,
dl {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  display: inline-block;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 1025px) {
  a:hover {
    text-decoration: none;
  }
}

del {
  text-decoration: line-through;
}

input::-ms-clear {
  visibility: hidden;
}

abbr[title],
dfn[title] {
  border-bottom: 0.1rem dotted;
  cursor: help;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

* {
  box-sizing: border-box;
  /* -webkit-appearance: none; */
}

/* --------------------------------------------------------------- */
/* reset end */
/* --------------------------------------------------------------- */
@media screen and (min-width: 767px) {
  .pc-off {
    display: none !important;
  }
}
@media screen and (max-width: 768px) {
  .sp-off {
    display: none !important;
  }
}

/* tel config */
@media screen and (max-width: 767px) {
  a[href^="tel:"] {
    color: #000;
  }
}
@media print, screen and (min-width: 768px) {
  a[href^="tel:"] {
    text-decoration: none;
    pointer-events: none;
  }
}
html {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 62.5%;
  color: #000;
  text-size-adjust: none;
  /*font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;*/
}
@media screen and (max-width: 374px) {
  html {
    /* 9px/16 */
    /* 8px/16 */
    font-size: 50%;
  }
}

body {
  overflow: auto;
  font-size: 1.6rem;
  line-height: 1;
}
@media screen and (max-width: 767px) {
  body {
    font-size: 1.4rem;
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  backface-visibility: hidden;
}

a {
  color: #000;
}

/* Slider Text boyake Control */
.bx-viewport * {
  /*-webkit-transform: translate3d(0,0,0);*/
}

/* ------------------------------------------- */
/* print setting */
/* ------------------------------------------- */
@media print {
  body {
    -webkit-print-color-adjust: exact;
    position: relative;
    width: 1400px;
    zoom: 70%;
  }
  .inner,
  .breadcrumbs {
    /*width: 94% !important;*/
  }
}
@page {
  size: A4;
  margin: 10mm;
}

/* Template_type --------------------------------------------------------------- */

/* ------------------------------------------- */
/* wrapper */
/* ------------------------------------------- */
#wrapper {
  min-height: 800px;
  overflow: hidden;
}
@media screen and (max-width: 1080px) {
  #wrapper {
    padding-top: 7rem;
  }
}

/* ------------------------------------------- */
/* header */
/* ------------------------------------------- */
@media screen and (min-width: 768px) {
  #header:after {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 7.4rem;
    background: #ffffff;
    content: "";
  }
}
#header .inner {
  position: relative;
  margin: 0 auto;
  width: 140rem;
  height: 14.4rem;
}
@media screen and (max-width: 1400px) {
  #header .inner {
    width: 100%;
  }
}
@media screen and (max-width: 1080px) {
  #header .inner {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 7rem;
    background: #fff;
  }
}

/* position */
#header .logomark,
#header .search-box,
#header .option-list,
#header .cart-box,
#header .nav {
  position: absolute;
}

#header .logomark {
  top: 0rem;
  left: 50%;
  transform: translateX(-50%);
}
#header .search-box {
  top: 8.3rem;
  left: 50%;
  transform: translateX(-50%);
}
#header .option-list {
  top: 9.9rem;
  right: 14.7rem;
}
#header .cart-box {
  right: 7.7rem;
  bottom: 1.7rem;
}
#header .nav {
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 1080px) {
  #header .search-box,
  #header .option-list,
  #header .nav {
    position: static;
  }
  #header .search-box {
    top: auto;
    left: auto;
    transform: none;
  }

  #header .logomark {
    position: absolute;
    /* top: 2rem; */
    top: 0rem;
    left: 2rem;
    transform: none;
  }
  #header .cart-box {
    /* top: 2rem; */
    top: 0rem;
    right: 7rem;
  }
}

/* menu-area */
@media screen and (max-width: 1080px) {
  #header .menu-area {
    position: absolute;
    top: 7rem;
    right: -30rem;
    z-index: 999;
    width: 30rem;
    height: calc(100vh - 7rem);
    background: #fff;
    transition: ease 0.25s right;
    pointer-events: none;
  }
  .menu-active #header .menu-area {
    right: 0;
    pointer-events: auto;
  }
}

/* menu-btn */
#header .menu-btn {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 999;
}
.menu-active #header .menu-btn {
  /*position: fixed;*/
}
#header .menu-btn a {
  position: relative;
  width: 7rem;
  height: 7.4rem;
  vertical-align: top;
  transition: ease 0.25s all;
  /*border: 0.1rem solid #CDF5EE;*/
  /*border-radius: 0.2rem;*/
}
@media screen and (min-width: 1081px) {
  #header .menu-btn a:hover {
    background-color: #cdf5ee;
  }
}
.menu-active #header .menu-btn a {
  background-color: #cdf5ee;
}

#header .menu-btn a span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -1rem;
  border-radius: 0.1rem;
  width: 2rem;
  height: 0.2rem;
  background: #333;
  transition: ease 0.25s all;
}
.menu-active #header .menu-btn a span {
  background: #fff;
}
#header .menu-btn a span:nth-child(1) {
  margin-top: -1rem;
}
#header .menu-btn a span:nth-child(2) {
  margin-top: -0.1rem;
}
#header .menu-btn a span:nth-child(3) {
  margin-top: 0.8rem;
}
.menu-active #header .menu-btn a span:nth-child(1) {
  margin-top: 0;
  transform: rotate(45deg);
}
.menu-active #header .menu-btn a span:nth-child(2) {
  display: none;
}
.menu-active #header .menu-btn a span:nth-child(3) {
  margin-top: 0;
  transform: rotate(-45deg);
}
@media screen and (min-width: 1081px) {
  #header .menu-btn a:hover span {
    background: #fff;
  }
}

/* logomark */
#header .logomark {
}
#header .logomark img {
  max-width: 20.9rem;
}

/* search-box */
#header .search-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 33.6rem;
}
@media screen and (max-width: 1080px) {
  #header .search-box {
    position: relative;
    margin: 1.5rem 1rem;
    width: calc(100% - 2rem);
  }
}

#header .search-box .icon {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  width: 4rem;
  height: 4.8rem;
  background: url(../img/parts/icon_search01.png) no-repeat center center / 1.6rem auto;
}

#header .search-box .text {
  padding: 1.5rem 3.9rem;
  border: 0.1rem solid #eee;
  border-radius: 0.5rem;
  width: 100%;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  background: #fff;
}
@media screen and (max-width: 1080px) {
  #header .search-box .text {
    border-color: #ddd;
    font-size: 1.3rem;
  }
}
#header .search-box .text::placeholder {
  color: #bcbcbc;
}
#header .search-box .text:focus {
  outline: none;
}

/* option-list */
#header .option-list {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 1080px) {
  #header .option-list {
    padding: 0 1rem 1.5rem;
  }
}
#header .option-list li {
  margin-left: 3.5rem;
}
@media screen and (max-width: 1400px) {
  #header .option-list li {
    margin-left: 1.5rem;
  }
}

@media screen and (max-width: 1080px) {
  #header .option-list li {
    margin-left: 2%;
    width: 32%;
  }
  #header .option-list li:first-child {
    margin-left: 0;
  }
}

#header .option-list li:first-child {
  margin-left: 0;
}
#header .option-list li a {
  font-size: 1.4rem;
  font-weight: 500;
  color: #333;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.05em;
}
@media screen and (min-width: 1081px) {
  #header .option-list li a:hover {
    text-decoration: underline;
  }
}
@media screen and (max-width: 1080px) {
  #header .option-list li a {
    padding: 1.4rem 0.4rem;
    border: 1px solid #ddd;
    width: 100%;
    height: 100%;
    font-size: 1.1rem;
  }
}

/* cart-box */
#header .cart-box {
  cursor: pointer;
}
@media screen and (max-width: 1080px) {
  #header .cart-box a {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 7rem;
    height: 7rem;
    background: rgba(43, 94, 171, 0.1);
  }
}
#header .cart-box .icon {
  padding: 1rem;
}
@media screen and (max-width: 1080px) {
  #header .cart-box .icon {
    padding: 0;
  }
}
#header .cart-box .icon img {
  max-width: 2.7rem;
  height: auto;
}
@media screen and (max-width: 1080px) {
  #header .cart-box .icon img {
    max-width: 3rem;
  }
}
#header .cart-box .count {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0.3rem;
  right: -0.2rem;
  border-radius: 0.9rem;
  width: 1.8rem;
  height: 1.8rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0;
  background: #ff130e;
}
@media screen and (max-width: 1080px) {
  #header .cart-box .count {
    top: 0.6rem;
    right: 1rem;
  }
}

#header .nav {
  /* position: relative; */
}
@media screen and (max-width: 1080px) {
  #header .nav {
    height: calc(100vh - 7rem - 13.4rem);
    overflow-y: scroll;
  }
}
@media screen and (max-width: 767px) {
  #header .nav {
    padding-bottom: 10rem;
  }
}
/* main-list */
#header .main-list {
  display: flex;
  flex-wrap: wrap;
  padding: 5rem 5rem 5rem 6rem;
  border-radius: 0.3rem;
  width: 72.4rem;
  background: #fff;
  box-shadow: 0rem 0rem 1.8rem rgba(0, 0, 0, 0.07);
}
@media print, screen and (min-width: 1081px) {
  #header .main-list {
    position: absolute;
    top: 0;
    right: -10rem;
    z-index: 999;
    opacity: 0;
    transition: ease 0.25s opacity, ease 0.25s right;
    pointer-events: none;
  }
  .menu-active #header .main-list {
    right: 0;
    opacity: 1;
    pointer-events: auto;
  }
}
@media screen and (max-width: 1080px) {
  #header .main-list {
    display: block;
    padding: 0;
    width: 100%;
    box-shadow: none;
  }
}

#header .main-list > li {
  margin-right: 5rem;
  padding-right: 5rem;
  border-right: 0.1rem solid #d2d2d2;
}
@media screen and (max-width: 1080px) {
  #header .main-list > li {
    margin-right: 0;
    padding-right: 0;
    border-right: 0;
  }
}

#header .main-list > li:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: 0;
}
#header .main-list .menu-title {
  margin-bottom: 1.8rem;
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 1.59;
  letter-spacing: 0.05em;
}
@media screen and (max-width: 1080px) {
  #header .main-list .menu-title {
    margin-bottom: 0;
    padding: 1.2rem 1.5rem;
    font-size: 1.8rem;
    background-color: #ffffff;
  }
}

/* child-list */
#header .main-list .child-list {
}
@media print, screen and (min-width: 1081px) {
  #header .main-list .child-list {
    padding-top: 1rem;
  }
}

#header .main-list .child-list > li {
  margin-bottom: 1.8rem;
}
@media screen and (max-width: 1080px) {
  #header .main-list .child-list > li {
    margin-bottom: 0;
  }
}
#header .main-list .child-list > li > a {
  display: block;
  position: relative;
  margin-bottom: 1rem;
  padding-left: 1.2rem;
  font-weight: 500;
  color: #000;
  text-decoration: none;
  letter-spacing: 0.05em;
}
@media screen and (max-width: 1080px) {
  #header .main-list .child-list > li > a {
    margin: 0;
    padding: 1.5rem;
    border-bottom: 1px solid #ddd;
  }
}

#header .main-list .child-list > li > a:after {
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -0.3rem;
  border-top: 0.2rem solid #000;
  border-right: 0.2rem solid #000;
  width: 0.6rem;
  height: 0.6rem;
  transform: rotate(45deg);
  content: "";
}
@media screen and (max-width: 1080px) {
  #header .main-list .child-list > li > a:after {
    right: 1rem;
    left: auto;
  }
}

/* grandhicld */
#header .main-list .grandchild-list {
  margin-bottom: 2.5rem;
}
@media screen and (max-width: 1080px) {
  #header .main-list .grandchild-list {
    margin-bottom: 0;
    border-bottom: 1px solid #ddd;
  }
}
#header .main-list .grandchild-list > li {
  margin-bottom: 1.5rem;
  padding-left: 1.2rem;
}
@media screen and (max-width: 1080px) {
  #header .main-list .grandchild-list > li {
    margin-bottom: 0;
    padding-left: 0;
  }
}
#header .main-list .grandchild-list > li:last-child {
  margin-bottom: 0;
}
#header .main-list .grandchild-list > li a {
  font-size: 1.4rem;
  color: #6b6b6b;
  text-decoration: none;
  letter-spacing: 0.05em;
}
@media screen and (max-width: 1080px) {
  #header .main-list .grandchild-list > li a {
    display: block;
    position: relative;
    padding: 0.7rem 1.5rem;
  }
  #header .main-list .grandchild-list > li a:after {
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    right: 1rem;
    margin-top: -0.3rem;
    border-top: 0.1rem solid #aaa;
    border-right: 0.1rem solid #aaa;
    width: 0.6rem;
    height: 0.6rem;
    transform: rotate(45deg);
    content: "";
  }
}

/* ------------------------------------------- */
/* contents */
/* ------------------------------------------- */
#contents {
}

/* ------------------------------------------- */
/* side-set */
/* ------------------------------------------- */
.side-set {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 108rem;
}
@media screen and (max-width: 1200px) {
  .side-set {
    width: 94%;
  }
}
@media screen and (max-width: 767px) {
  .side-set {
    display: block;
  }
}
.side-set .main-area {
  width: 78rem;
}
@media screen and (max-width: 1200px) {
  .side-set .main-area {
    width: calc(100% - 25rem);
  }
}
@media screen and (max-width: 767px) {
  .side-set .main-area {
    width: 100%;
  }
}

.side-set .side-area {
  margin-left: auto;
  width: 23rem;
}
@media screen and (max-width: 767px) {
  .side-set .side-area {
    width: 100%;
  }
}
/* side-list */
.side-set .side-area .side-list {
  margin-top: 0.9rem;
  margin-bottom: 3rem;
  border-bottom: 0.1rem solid #d2d2d2;
}
@media screen and (max-width: 767px) {
  .side-set .side-area .side-list {
    display: none;
  }
}

.side-set .side-area .side-list dt {
  margin-bottom: 1.6rem;
  padding: 1.2rem 1.5rem;
  font-weight: 500;
  color: #333;
  letter-spacing: 0.1em;
  background: #fae4c2;
}
.side-set .side-area .side-list dd {
  margin-bottom: 2.5rem;
}
.side-set .side-area .side-list ul {
  margin-left: 1.4rem;
}
.side-set .side-area .side-list ul li {
  margin-bottom: 1.6rem;
}
.side-set .side-area .side-list ul li a {
  display: block;
  position: relative;
  font-size: 1.4rem;
  color: #333;
  text-decoration: none;
  letter-spacing: 0.1em;
}
@media screen and (min-width: 1081px) {
  .side-set .side-area .side-list ul li a:hover {
    text-decoration: underline;
  }
}
.side-set .side-area .side-list ul li a:after {
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  right: 0.3rem;
  margin-top: -0.4rem;
  border-top: 0.1rem solid #333;
  border-right: 0.1rem solid #333;
  width: 0.8rem;
  height: 0.8rem;
  transform: rotate(45deg);
  content: "";
}

.side-set .side-area .time-title {
  margin-bottom: 2rem;
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.1em;
}

/* time-list */
.side-set .side-area .time-list {
}
.side-set .side-area .time-list li {
  margin-bottom: 2rem;
}

.side-set .side-area .time-list table {
  color: #333;
  text-align: center;
  letter-spacing: 0;
  table-layout: fixed;
  border-collapse: collapse;
}
@media screen and (max-width: 767px) {
  .side-set .side-area .time-list table {
    width: 100%;
  }
}
.side-set .side-area .time-list table caption {
  font-size: 1.4rem;
  /* margin-bottom: 1rem; */
  font-weight: normal;
}
.side-set .side-area .time-list table thead th {
  font-size: 1.2rem;
  font-weight: normal;
  background: #f5f5f5;
}
.side-set .side-area .time-list table th,
.side-set .side-area .time-list table td {
  border: 0.1rem solid #cfcfcf;
  width: 3.3rem;
  height: 2.1rem;
  font-family: Roboto;
  font-weight: normal;
  /* font-size: 1rem; */
  vertical-align: middle;
}

.side-set .side-area .time-list table .disable {
  color: #8a8888;
}
.side-set .side-area .time-list table .holiday {
  color: #ff130e;
}

/* ------------------------------------------- */
/* edit-area */
/* ------------------------------------------- */
.edit-area {
}
.inner {
  margin-right: auto;
  margin-left: auto;
}
.w880 {
  width: 88rem;
}
.w1080 {
  width: 108rem;
}
.w1190 {
  width: 119rem;
}

@media screen and (max-width: 880px) {
  .w880 {
    width: 94%;
  }
}
@media screen and (max-width: 1080px) {
  .w1080 {
    width: 94%;
  }
}
@media screen and (max-width: 1200px) {
  .w1190 {
    width: 94%;
  }
}

/* ------------------------------------------- */
/* float-set */
/* ------------------------------------------- */
.float-set {
}
.float-set:after {
  display: block;
  height: 0;
  clear: both;
  content: "";
}
.float-set .f-left {
  float: left;
}
.float-set .f-right {
  float: right;
}

/* ------------------------------------------- */
/* common-list */
/* ------------------------------------------- */
.common-list {
}

/* asterisk */
.common-list.asterisk {
}
.common-list.asterisk:last-child {
  margin-bottom: 0;
}
.common-list.asterisk li {
  position: relative;
  padding-left: 2rem;
  line-height: 1.5;
  color: #333;
  letter-spacing: 0.04em;
}
.common-list.asterisk li:before {
  position: absolute;
  left: 0;
  content: "※";
}
/* small */
.common-list.asterisk.small li {
  padding-left: 1.7rem;
  font-size: 1.2rem;
  line-height: 1.67;
}

/* ------------------------------------------- */
/* common-btn */
/* ------------------------------------------- */
.common-btn {
  text-align: center;
}
.common-btn .cover {
  display: inline-block;
}

/* type01 */
.common-btn.type01 {
  text-align: center;
}
.common-btn.type01 .cover {
  padding: 1.4rem 1rem;
  border: 0.1rem solid #333;
  border-radius: 0.3rem;
  min-width: 23rem;
  font-size: 1.4rem;
  color: #333;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.05em;
  background: #fff;
  transition: ease 0.25s background-color;
}
@media screen and (min-width: 1081px) {
  .common-btn.type01 .cover:hover {
    background: #fafafa;
  }
}

/* ------------------------------------------- */
/* title */
/* ------------------------------------------- */
.common-title {
}

/* type01 */
.common-title.type01 {
}

/* ------------------------------------------- */
/* table */
/* ------------------------------------------- */
.common-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

/* cal */
.common-table.cal {
  width: 20rem;
  font-size: 1.5rem;
  letter-spacing: 0.05em;
  background: #fff;
  table-layout: fixed;
}
@media screen and (max-width: 767px) {
  .common-table.cal {
    width: 100%;
    font-size: 1.2rem;
  }
}
.common-table.cal caption {
  font-size: 1.4rem;
  color: #fff;
  text-align: center;
  background-color: #5e5e5e;
}
@media screen and (max-width: 767px) {
  .common-table.cal caption {
    padding: 1rem;
  }
}
.common-table.cal caption span {
  display: inline-block;
  margin-left: 0.8rem;
  font-size: 1.6rem;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .common-table.cal caption span {
    font-size: 1.8rem;
  }
}
.common-table.cal th,
.common-table.cal td {
  border: 0.1rem solid #d5d5d5;
  font-size: 1.4rem;
  font-weight: normal;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .common-table.cal th,
  .common-table.cal td {
    width: 3rem;
    height: 3rem;
  }
}
.common-table.cal thead th {
  background: #ebebeb;
}
.common-table.cal thead th.sun {
  color: #d71224;
}
.common-table.cal .disable {
  color: #aaa;
}
.common-table.cal .holiday {
  font-weight: bold;
  color: #fff;
  background-color: #db7064;
}

/* ------------------------------------------- */
/* margin padding */
/* ------------------------------------------- */
.mb10 {
  margin-bottom: 1rem !important;
}
.mb20 {
  margin-bottom: 2rem !important;
}
.mb30 {
  margin-bottom: 3rem !important;
}
.mb40 {
  margin-bottom: 4rem !important;
}
.mb50 {
  margin-bottom: 5rem !important;
}
.mb60 {
  margin-bottom: 6rem !important;
}
.mb70 {
  margin-bottom: 7rem !important;
}
.mb80 {
  margin-bottom: 8rem !important;
}
.mb90 {
  margin-bottom: 9rem !important;
}
.mb100 {
  margin-bottom: 10rem !important;
}
@media screen and (max-width: 767px) {
  .mb10 {
    margin-bottom: 0.5rem !important;
  }
  .mb20 {
    margin-bottom: 1rem !important;
  }
  .mb30 {
    margin-bottom: 1.5rem !important;
  }
  .mb40 {
    margin-bottom: 2rem !important;
  }
  .mb50 {
    margin-bottom: 2.5rem !important;
  }
  .mb60 {
    margin-bottom: 3rem !important;
  }
  .mb70 {
    margin-bottom: 3.5rem !important;
  }
  .mb80 {
    margin-bottom: 4rem !important;
  }
  .mb90 {
    margin-bottom: 4.5rem !important;
  }
  .mb100 {
    margin-bottom: 5rem !important;
  }
}
.pb10 {
  padding-bottom: 1rem !important;
}
.pb20 {
  padding-bottom: 2rem !important;
}
.pb30 {
  padding-bottom: 3rem !important;
}
.pb40 {
  padding-bottom: 4rem !important;
}
.pb50 {
  padding-bottom: 5rem !important;
}
.pb60 {
  padding-bottom: 6rem !important;
}
.pb70 {
  padding-bottom: 7rem !important;
}
.pb80 {
  padding-bottom: 8rem !important;
}
.pb90 {
  padding-bottom: 9rem !important;
}
.pb100 {
  padding-bottom: 10rem !important;
}
@media screen and (max-width: 767px) {
  .pb10 {
    padding-bottom: 0.5rem !important;
  }
  .pb20 {
    padding-bottom: 1rem !important;
  }
  .pb30 {
    padding-bottom: 1.5rem !important;
  }
  .pb40 {
    padding-bottom: 2rem !important;
  }
  .pb50 {
    padding-bottom: 2.5rem !important;
  }
  .pb60 {
    padding-bottom: 3rem !important;
  }
  .pb70 {
    padding-bottom: 3.5rem !important;
  }
  .pb80 {
    padding-bottom: 4rem !important;
  }
  .pb90 {
    padding-bottom: 4.5rem !important;
  }
  .pb100 {
    padding-bottom: 5rem !important;
  }
}

/* ------------------------------------------- */
/* footer */
/* ------------------------------------------- */
#footer .inner {
  margin: 0 auto;
  padding: 3rem 0;
  width: 84rem;
}
@media screen and (max-width: 840px) {
  #footer .inner {
    width: 94%;
  }
}
@media screen and (max-width: 767px) {
  #footer .inner {
    display: flex;
    flex-flow: column wrap;
  }
}

/* pageup */
#footer .pageup {
  position: fixed;
  right: 5rem;
  bottom: 15rem;
  z-index: 998;
  opacity: 0;
  transition: ease 0.25s opacity;
  pointer-events: none;
}
@media screen and (max-width: 767px) {
  #footer .pageup {
    right: 1rem;
    bottom: 1rem;
  }
}
#footer .pageup.on {
  opacity: 1;
  pointer-events: auto;
}

#footer .pageup a {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1.5rem 0 0;
  border-radius: 3rem;
  width: 6rem;
  height: 6rem;
  font-family: Roboto;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.17;
  color: #fff;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.15em;
  background: #000;
  transition: ease 0.25s border-radius;
}
@media screen and (min-width: 1081px) {
  #footer .pageup a:hover {
    border-radius: 0.4rem;
  }
}
@media screen and (max-width: 767px) {
  #footer .pageup a {
    border-radius: 2.5rem;
    width: 5rem;
    height: 5rem;
    font-size: 1rem;
  }
}

#footer .pageup a:after {
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: 1.3rem;
  left: 50%;
  margin-left: -0.4rem;
  border-top: 0.2rem solid #fff;
  border-right: 0.2rem solid #fff;
  width: 0.8rem;
  height: 0.8rem;
  transform: rotate(-45deg);
  content: "";
}

/* sitemap-list */
#footer .sitemap-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2.4rem;
}
@media screen and (max-width: 767px) {
  #footer .sitemap-list {
    display: block;
    order: 1;
    margin-bottom: 0;
    border-right: 0;
  }
}
#footer .sitemap-list li {
}
@media screen and (max-width: 767px) {
  #footer .sitemap-list li {
    border-bottom: 0.1rem solid #b1b1b1;
    border-left: 0;
  }
}

#footer .sitemap-list li a {
  padding: 0.3rem 3.4rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: #000;
  letter-spacing: 0.05em;
}
@media screen and (max-width: 767px) {
  #footer .sitemap-list li a {
    display: block;
    padding: 1.5rem 1rem;
    text-decoration: none;
  }
}

#footer .sitemap-list li a span {
  display: inline-block;
  position: relative;
  padding-right: 2rem;
}
@media screen and (min-width: 1081px) {
  #footer .sitemap-list li a:hover span {
    text-decoration: underline;
  }
}
@media screen and (max-width: 767px) {
  #footer .sitemap-list li a span {
    display: block;
  }
}

#footer .sitemap-list li a span:after {
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -0.4rem;
  border-top: 0.1rem solid #000;
  border-right: 0.1rem solid #000;
  width: 0.8rem;
  height: 0.8rem;
  transform: rotate(45deg);
  content: "";
}

/* logomark */
#footer .logomark {
  text-align: center;
}
@media screen and (max-width: 767px) {
  #footer .logomark {
    margin-bottom: 3rem;
  }
}

#footer .logomark img {
  max-width: 24.7rem;
}
@media screen and (max-width: 767px) {
  #footer .logomark img {
    max-width: 18rem;
  }
}

#footer #copyright {
  display: block;
  padding: 1.4rem 0;
  font-size: 1.4rem;
  font-weight: normal;
  text-align: center;
  letter-spacing: 0.05em;
  background: #fff;
}

/* ------------------------------------------- */
/* common-list */
/* ------------------------------------------- */
.common-list {
  .holiday {
    position: relative;
    padding-left: 1.5rem;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1;
    gap: 0.5rem;
    &::before {
      width: 1.2rem;
      height: 1.2rem;
      background-color: #db7064;
      content: "";
    }
  }
}
/* cal */
.common-list.cal-mark {
}
.common-list.cal-mark li {
  position: relative;
  padding-left: 3rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: 0.05em;
}
.common-list.cal-mark li:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border: 0.1rem solid transparent;
  width: 2rem;
  height: 2rem;
  content: "";
}
.common-list.cal-mark li.holiday:after {
  border-color: #d5d5d5;
  background-color: #db7064;
}

.for-seo {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  clip-path: inset(50%);
}
