
<script>
    $(function() {
        $('.ec-off3Grid__cell').append(
            '<p class="ec-withdrawRole__error" style="color: #DE5D50;">' +
                '※契約中の定期のご注文があるため退会できません。定期のご注文を全て解約してから退会してください。' +
            '</p>'
        );
        $('.ec-blockBtn--cancel').remove();
    });
</script>
