<tr class="d-none">
    <td>
        {{ form_widget(productSetForm.product_name) }}
        {{ form_widget(productSetForm.ProductClass) }}
        {{ form_widget(productSetForm.price) }}
        {{ form_widget(productSetForm.quantity) }}
    </td>
</tr>