{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends '@admin/default_frame.twig' %}

{% set menus = ['product', 'supplier'] %}

{% block title %}仕入先管理{% endblock %}
{% block sub_title %}{{ 'admin.product.product_management'|trans }}{% endblock %}

{% block javascript %}
    <script>
        $(function() {
            $("#delete").on('click', function() {
                $('#DeleteModal').modal('show');
            });
            $("#edit").on('click', function() {
                document.getElementById("mode-view").classList.add("d-none");
                document.getElementById("mode-edit").classList.remove("d-none");
            });
            $("#submimt").on('click', function() {
                document.getElementById("mode-view").classList.remove("d-none");
                document.getElementById("mode-edit").classList.add("d-none");
            });
            $("#cancel").on('click', function() {
                document.getElementById("mode-view").classList.remove("d-none");
                document.getElementById("mode-edit").classList.add("d-none");
            });


        });
    </script>
{% endblock %}

{% block stylesheet %}{% endblock %}

{% block main %}
<div class="c-contentsArea__cols">
    <div class="c-contentsArea__primaryCol">
        <div id="ex-primaryCol" class="c-primaryCol">
            <div class="card rounded border-0 mb-4">
                <div class="card-body p-0">
                    <div class="card rounded border-0">
                        <ul class="list-group list-group-flush sortable-container">
                            <li class="list-group-item">
                                <form role="form" class="form-row" name="form1" id="form1" method="post" action="#">
                                    <div class="col-auto align-self-center"><span>仕入先名</span></div>
                                    <div class="col-3 mr-2">
                                        <input type="text" required="required" class="form-control" />
                                    </div>
                                    <div class="col-auto align-self-center" data-tooltip="true" data-placement="top" title="5桁での入力をお願いします。">
                                        <span>仕入先コード</span>
                                        <i class="fa fa-question-circle fa-lg ml-1"></i>
                                    </div>
                                    <div class="col-3">
                                        <input type="text" class="form-control" />
                                    </div>
                                    <div class="col-auto">
                                        <button class="btn btn-ec-regular" type="submit">新規作成</button>
                                    </div>
                                </form>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-1"><strong>ID</strong></div>
                                    <div class="col-4"><strong> 仕入先名</strong></div>
                                    <div class="col-3"><strong>仕入先コード</strong></div>
                                </div>
                            </li>
                            <li id="ex-class_name-2" class="list-group-item sortable-item" data-class-name-id="2" data-sort-no="2">
                                <div class="row justify-content-around mode-view" id="mode-view">
                                    <div class="col-1 d-flex align-items-center">1</div>
                                    <div class="col-4 d-flex align-items-center">
                                        <span>仕入先1</span>
                                    </div>
                                    <div class="col d-flex align-items-center">
                                        <span>00001</span>
                                    </div>
                                    <div class="col-auto text-right">
                                        <a class="btn btn-ec-actionIcon mr-2 action-edit" data-tooltip="true" data-placement="top" title="編集" id="edit">
                                            <i class="fa fa-pencil fa-lg text-secondary"></i>
                                        </a>
                                        <div class="d-inline-block mr-2" data-tooltip="true" data-placement="top" title="削除">
                                            <a class="btn btn-ec-actionIcon" id="delete">
                                                <i class="fa fa-close fa-lg text-secondary"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <form class="form-row d-none mode-edit" method="post" action="#" id="mode-edit">
                                    <div class="col-auto align-self-center"><span>仕入先名</span></div>
                                    <div class="col-auto align-items-center">
                                        <input type="text" required="required" data-origin-value="仕入先1" class="form-control" value="仕入先1" />
                                    </div>
                                    <div class="col-auto align-self-center"><span>仕入先コード</span></div>
                                    <div class="col-auto align-items-center">
                                        <input type="text" data-origin-value="00001" class="form-control" value="00001" />
                                        
                                    </div>
                                    <div class="col-auto align-items-center">
                                        <button class="btn btn-ec-conversion" type="submit" id="submit">決定</button>
                                    </div>
                                    <div class="col-auto align-items-center">
                                        <button class="btn btn-ec-sub action-edit-cancel" type="button" id="cancel">キャンセル</button>
                                    </div>
                                </form>
                            </li>
                        </ul>
                        <!-- 削除モーダル -->
                        <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog"
                            aria-labelledby="DeleteModal" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title font-weight-bold">
                                            {{ 'admin.common.delete_modal__title'|trans }}
                                        </h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body text-left">
                                        <p class="text-left modal-message">削除します。よろしいですか？</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-ec-sub" type="button" data-dismiss="modal">
                                            {{ 'admin.common.cancel'|trans }}
                                        </button>
                                        <a class="btn btn-ec-delete" href="#">
                                            {{ 'admin.common.delete'|trans }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
