{% set site_type = 'breeder' %}
{% extends 'animalline/breeder/frame.twig' %}

{% block main %}
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1>ペット情報を登録しました</h1>
        </div>
    </div>
    <div class="ec-registerCompleteRole">
        <div class="ec-offGrid ec-text-ac">
            <div class="ec-offGrid__cell">
                <div class="ec-reportHeading">
                    <div>
                        <img src="{{ asset('assets/img/dna_kit_send_info.png') }}" alt=""/>
                    </div>
                    <h2>
                        「検体採取方法のご案内」内側に記載されている<br />
                        「DNA検査の流れ」②以降の流れに沿って進めるようお願い致します<br>
                        採取した検体を返送用封筒に入れ、返送をお願い致します。<br>
                        検査が完了しましたら、ご登録いただいたペット情報が公開となります。
                    </h2>
                </div>
                <div class="m-2 p-2"></div>
                <div class="ec-off2Grid">
                    <div class="ec-off2Grid__cell">
                        <a class="ec-blockBtn--cancel mb-4" href="{{ url('breeder_pet_list') }}">
                            ペット管理ページに戻る
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/breeder-style.css') }}">
{% endblock %}
{% block javascript %}{% endblock %}
    