{% set site_type = 'breeder' %}
{% extends 'ani_frame.twig' %}

{% block main %}
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1>ペット情報を登録しました</h1>
        </div>
    </div>
    <div class="ec-registerCompleteRole">
        <div class="ec-offGrid ec-text-ac">
            <div class="ec-offGrid__cell">
                <div class="ec-reportHeading">
                    <h2 style="font-size: 20px;">
                        DNA検査キットを送付いたします。<br>
                        お受け取り後、検体をキットに入れ、返送をお願いいたします。<br>
                        審査が完了しましたら、ご登録いただいたペット情報が公開となります。<br>
                    </h2>
                </div>
                <div class="m-2 p-2"></div>
                <div class="ec-off2Grid">
                    <div class="ec-off2Grid__cell">
                        <a class="ec-blockBtn--cancel mb-4" href="{{ url('breeder_pet_list') }}">
                            ペット管理ページに戻る
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/breeder-style.css') }}">
{% endblock %}
{% block javascript %}{% endblock %}
    