{% set site_type = 'breeder' %}
{% extends 'animalline/breeder/frame.twig' %}

{% block main %}
    <section id="breeder-column" class="breeder-column_dog">
        <div class="inner">
            <div class="card rounded border-0 mb-4 d-block">
                <div class="card-body p-0">
                    <table class="table table-sm dna-table text-center responsive-table">
                        <thead>
                            <tr class="heading">
                                <th class="border-top-0 pt-2 pb-2">コード</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td data-label="コード">
                                    <a href="{{url('breeder_pets_new',{'barcode': 100020})}}">100020</a>
                                </td>
                            </tr>
                            <tr>
                                <td data-label="コード">
                                    <a href="{{url('breeder_pets_new',{'barcode': 100021})}}">100021</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/breeder-style.css') }}">
{% endblock %}
{% block javascript %}{% endblock %}
        