{% set site_type = 'breeder' %}
{% extends 'animalline/breeder/frame.twig' %}

{% block main %}
    <section id="breeder-column" class="breeder-column_dog">
        <div class="inner">
            <div class="card rounded border-0 mb-4 d-block">
                <div class="card-body p-0">
                    検体登録シートに記載されている検体登録番号を選択してください。
                    <table class="table table-sm dna-table text-center responsive-table">
                        <thead>
                        <tr class="heading">
                            <th class="border-top-0 pt-2 pb-2">検査キット番号（生体番号）</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for barCode in barCodes %}
                            <tr>
                                <td data-label="コード">
                                    <a href="{{ url('breeder_pets_new',{'barcode': barCode}) }}">{{ barCode }}</a>
                                </td>
                            </tr>
                        {% else %}
                        <tr>
                            <td>
                                登録待ちの検体情報がありません。
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="navigation float-right">
                {{ knp_pagination_render(barCodes, '@KnpPaginator/twitter_bootstrap_v4_pagination.html.twig') }}
            </div>
        </div>
    </section>
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/breeder-style.css') }}">
{% endblock %}
{% block javascript %}{% endblock %}