{% set site_type = 'breeder' %}
{% extends 'ani_frame.twig' %}

{% block main %}
    ダッシュボード
    <div class="main">
        <div class="row">
            <div class="main-container col-12">
                <h1>問合せ一覧</h1>
                <div class="m-2 p-2"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/breeder-style.css') }}">
{% endblock %}
{% block javascript %}{% endblock %}
