{% set site_type = 'breeder' %}
{% extends 'ani_frame.twig' %}

{% block main %}
    <div class="ec-pageHeader">
    <h1>{{ '犬舎・猫舎情報登録'|trans }}</h1>
    </div>
    <div class="ec-off1Grid">
        <div class="ec-off1Grid__cell">
            <form method="post" action="" novalidate class="h-adr">
                <span class="p-country-name" style="display:none;">Japan</span>
                <h2>犬舎情報</h2>
                <div class="ec-borderedDefs">
                    <div class="mb-5">
                        <dl>
                            <dt>
                                <label class="ec-label required">運営者氏名</label><span class="ec-required">必須</span>
                            </dt>
                            <dd>
                                <div class="ec-halfInput">
                                    <input type="text" required="required" placeholder="運営者氏名" />
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                <label class="ec-label required">運営者氏名カナ</label><span class="ec-required">必須</span>
                            </dt>
                            <dd>
                                <div class="ec-halfInput">
                                    <input type="text" required="required" placeholder="運営者氏名カナ" />
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                <label class="ec-label required">住所</label><span class="ec-required">必須</span>
                            </dt>
                            <dd>
                                <div class="ec-zipInput"><span>〒</span>
                                    <input type="text"  id="entry_postal_code" name="entry[postal_code]" required="required" class="p-postal-code" placeholder="例：5300001" />
                                    <div class="ec-zipInputHelp">
                                        <div class="ec-zipInputHelp__icon">
                                            <div class="ec-icon"><img
                                                        src="/html/template/default/assets/icon/question-white.svg" alt="">
                                            </div>
                                        </div><a href="https://www.post.japanpost.jp/zipcode/" target="_blank"><span>郵便番号検索</span></a>
                                    </div>               
                                </div>
                                <div class="ec-select">
                                    <select required="required" class="p-region-id">
                                        <option value="" selected="selected">都道府県を選択</option>
                                        <option value="1">北海道</option>
                                        <option value="2">青森県</option>
                                        <option value="3">岩手県</option>
                                        <option value="4">宮城県</option>
                                        <option value="5">秋田県</option>
                                        <option value="6">山形県</option>
                                        <option value="7">福島県</option>
                                        <option value="8">茨城県</option>
                                        <option value="9">栃木県</option>
                                        <option value="10">群馬県</option>
                                        <option value="11">埼玉県</option>
                                        <option value="12">千葉県</option>
                                        <option value="13">東京都</option>
                                        <option value="14">神奈川県</option>
                                        <option value="15">新潟県</option>
                                        <option value="16">富山県</option>
                                        <option value="17">石川県</option>
                                        <option value="18">福井県</option>
                                        <option value="19">山梨県</option>
                                        <option value="20">長野県</option>
                                        <option value="21">岐阜県</option>
                                        <option value="22">静岡県</option>
                                        <option value="23">愛知県</option>
                                        <option value="24">三重県</option>
                                        <option value="25">滋賀県</option>
                                        <option value="26">京都府</option>
                                        <option value="27">大阪府</option>
                                        <option value="28">兵庫県</option>
                                        <option value="29">奈良県</option>
                                        <option value="30">和歌山県</option>
                                        <option value="31">鳥取県</option>
                                        <option value="32">島根県</option>
                                        <option value="33">岡山県</option>
                                        <option value="34">広島県</option>
                                        <option value="35">山口県</option>
                                        <option value="36">徳島県</option>
                                        <option value="37">香川県</option>
                                        <option value="38">愛媛県</option>
                                        <option value="39">高知県</option>
                                        <option value="40">福岡県</option>
                                        <option value="41">佐賀県</option>
                                        <option value="42">長崎県</option>
                                        <option value="43">熊本県</option>
                                        <option value="44">大分県</option>
                                        <option value="45">宮崎県</option>
                                        <option value="46">鹿児島県</option>
                                        <option value="47">沖縄県</option>
                                    </select>                           
                                </div>
                                <div class="ec-input">
                                    <input type="text" required="required" class="p-locality p-street-address" placeholder="市区町村名(例：大阪市北区)" />
                                </div>
                                <div class="ec-input">
                                    <input type="text" required="required" class="p-extended-address" placeholder="番地・ビル名(例：西梅田1丁目6-8)" />
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                <label class="ec-label required">TEL</label><span class="ec-required">必須</span>
                            </dt>
                            <dd>
                                <div class="ec-halfInput">
                                    <input type="text" required="required" placeholder="TEL" />
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                <label class="ec-label required">FAX</label><span class="ec-required">必須</span>
                            </dt>
                            <dd>
                                <div class="ec-halfInput">
                                    <input type="text" required="required" placeholder="FAX" />
                                </div>
                            </dd>
                        </dl>
                        
                        <dl>
                            <dt>
                                <label class="ec-label required">担当者名</label><span class="ec-required">必須</span>
                            </dt>
                            <dd>
                                <div class="ec-halfInput">
                                    <input type="text" required="required" placeholder="担当者名" />
                                </div>
                            </dd>
                        </dl>

                        <dl>
                            <dt>
                                <label class="ec-label required">担当者TEL</label><span class="ec-required">必須</span>
                            </dt>
                            <dd>
                                <div class="ec-halfInput">
                                    <input type="text" required="required" placeholder="担当者TEL" />
                                </div>
                            </dd>
                        </dl>
                        
                    </div>
                </div>
                <div class="ec-registerRole__actions">
                    <div class="ec-off4Grid">
                        <div class="ec-off4Grid__cell">
                            <button class="ec-blockBtn--action" type="submit" name="mode" value="confirm">登録</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/breeder-style.css') }}">
{% endblock %}
{% block javascript %}{% endblock %}
        