{% set site_type = 'breeder' %}
{% extends 'ani_frame.twig' %}

{% block main %}

<div class="mb-4 col-md-8" style="margin: 0 auto;">
    <h3>ブリーダーマイページ</h3>
</div>

</body>
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/breeder-style.css') }}">
{% endblock %}
{% block javascript %}{% endblock %}