{% set site_type = 'breeder' %}
{% extends 'animalline/breeder/frame.twig' %}

{% block main %}
<div class="ec-role">
    <div class="ec-pageHeader">
        <h1>特典受取手続き(完了)</h1>
    </div>
</div>
<div class="ec-registerCompleteRole">
    <div class="ec-offGrid ec-text-ac">
        <div class="ec-offGrid__cell">
            <div class="ec-reportHeading">
                <h2>
                    特典受取手続きの内容を送信しました<br />
                    ブリーダからの返信があるまでお待ちください<br />
                </h2>
            </div>
            <div class="m-2 p-2"></div>
            <div class="ec-off2Grid">
                <div class="ec-off2Grid__cell">
                    <a class="ec-blockBtn--action bg-breeder mb-4" href={{ url('breeder_mypage') }}>
                        {{ 'マイページへ戻ります'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}