{% set site_type = 'breeder' %}
{% extends 'animalline/breeder/frame.twig' %}
{# {% form_theme form 'Form/form_div_layout.twig' %} #}

{% block main %}
    <div class="ec-layoutRole__main">
        <div class="ec-mypageRole">
            <div class="ec-pageHeader">
                <h1>特典受取手続き</h1>
            </div>
        </div>
        <div class="ec-mypageRole">
            <div class="ec-editRole">
                <div class="ec-off1Grid">
                    <div class="ec-off1Grid__cell">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/breeder-style.css') }}">
{% endblock %}
{% block javascript %}{% endblock %}
    