{% set site_type = 'breeder' %}
{% extends 'ani_frame.twig' %}

{% block main %}
    <div class="main">
        <div class="row">
            <div class="main-container col-12">
                <h1>取引メッセージ一覧</h1>
                <div class="m-3 p-3"></div>
                <div class="row">
                    <div class="col-12">
                        <a href="{{url('breeder_message', {'id': 1}) }}">
                            <div class="d-sm-flex justify-content-between py-5 border breeder-border rounded bg-white">
                                <div class="ml-5">
                                    <h3>ブリーダー名</h3>
                                    <h3>お問い合わせ内容が入ります</h3>
                                </div>
                                <h4 class="mr-sm-5 ml-5">2021年00月00日　10:00</h4>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="m-1 p-1"></div>
                <div class="row">
                    <div class="col-12">
                        <a href="{{url('breeder_message', {'id': 1}) }}">
                            <div class="d-sm-flex justify-content-between py-5 border breeder-border rounded bg-white">
                                <div class="ml-5">
                                    <h3>ブリーダー名</h3>
                                    <h3>お問い合わせ内容が入ります</h3>
                                </div>
                                <h4 class="mr-sm-5 ml-5">2021年00月00日　10:00</h4>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="m-1 p-1"></div>
                <div class="row">
                    <div class="col-12">
                        <a href="{{url('breeder_message', {'id': 1}) }}">
                            <div class="d-sm-flex justify-content-between py-5 border breeder-border rounded bg-white">
                                <div class="ml-5">
                                    <h3>ブリーダー名</h3>
                                    <h3>お問い合わせ内容が入ります</h3>
                                </div>
                                <h4 class="mr-sm-5 ml-5">2021年00月00日　10:00</h4>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/breeder-style.css') }}">
{% endblock %}
{% block javascript %}{% endblock %}