{% set site_type = 'breeder' %}
{% extends 'animalline/breeder/frame.twig' %}

{% block main %}
    <section id="breeder-column">
        <div class="inner">
            <div class="ec-role">
                <div class="ec-pageHeader">
                    <h1>ブリーダーを評価</h1>
                </div>
            </div>
            <div class="ec-registerCompleteRole">
                <div class="ec-reportHeading">
                    <h2>ご投稿ありがとうございます。</h2>
                </div>
                <div class="ec-off3Grid ec-text-ac">
                    <div class="ec-off3Grid__cell">
                        <div class="m-2 p-2"></div>
                        <div class="ec-off2Grid">
                            <div class="ec-off2Grid__cell">
                                <a class="ec-blockBtn--cancel mb-4" href="{{ url('breeder_top') }}">
                                    TOPページへ戻る
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/breeder-style.css') }}">
{% endblock %}
{% block javascript %}{% endblock %}
    