{% set site_type = 'breeder' %}
{% extends 'animalline/breeder/frame.twig' %}

{% block main %}
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1>検査キット請求</h1>
        </div>
    </div>
    <div class="ec-registerCompleteRole">
        <div class="ec-off3Grid ec-text-ac">
            <div class="ec-off3Grid__cell">
                
                    キット請求は同時に4セットまで可能となっております。<br />
                    追加請求は現在配送中のキット到着後に再度請求してください。
                
                <div class="m-2 p-2"></div>
                <div class="ec-off2Grid">
                    <div class="ec-off2Grid__cell">
                        <a class="ec-blockBtn--cancel mb-4" href="{{ url('breeder_examination_kit') }}">
                            戻る
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/breeder-style.css') }}">
{% endblock %}
{% block javascript %}{% endblock %}
    