{% set site_type = 'adoption' %}
{% extends 'ani_frame.twig' %}

{% block main %}
新規登録。ユーザー名とパスワードのみで仮登録。
</body>
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/adoption-style.css') }}">
{% endblock %}
{% block javascript %}{% endblock %}
