{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1> {{ '特定商取引法に基づく表記'|trans }}</h1>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <div class="ec-borderedDefs">
                    <dl>
                        <dt>
                            <label class="ec-label">販売業者</label>
                        </dt>
                        <dd>株式会社企画海</dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">代表責任者</label>
                        </dt>
                        <dd>山崎　あさみ
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <label class="ec-label">所在地</label>
                        </dt>
                        <dd>東京都杉並区上高井戸1丁目22番12号

                        </dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">電話番号</label>
                        </dt>
                        <dd>03-3290-1211</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">メールアドレス</label>
                        </dt>
                        <dd><a href="mailto:info@animalline.jp">info@animalline.jp</a></dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">URL</label>
                        </dt>
                        <dd><a href="http://www.kikaku-umi.co.jp/">http://www.kikaku-umi.co.jp/</a></dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">商品代金以外の必要料金</label>
                        </dt>
                        <dd>消費税 :10%<br/>
送料：商品合計額が5,775円(税込)未満の場合に送料550円(税込)を頂戴しております。<br/>
運送業者：佐川急便</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">引き渡し時期</label>
                        </dt>
                        <dd><ul class="dot-list">
										<li>配送は 佐川急便でお届けいたします。</li>
										<li>ご注文は３日以内に発送いたします。但し、在庫状況。道路事情などにより発送が遅れる倍もございますので予めご了承ください。</li>
										<li>また、時間指定も承ります。指定できる時間帯は下記をご覧ください。</li>
									</ul>
									<div class="photo-box"><img src="/html/template/default/assets/img/index/buy_img02.jpg" alt=""></div></dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">お支払方法</label>
                        </dt>
                        <dd>お支払いは、クレジットカードがご利用いただけます。
									<div class="notes">
										※クレジットカードのセキュリティはSSLというシステムを利用しております。カード番号は暗号化されて安全に送信されますので、どうぞご安心ください。
									</div>
									<div class="photo-box"><img src="/html/template/default/assets/img/index/buy_img01.jpg" alt=""></div></dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">返品・交換について</label>
                        </dt>
                        <dd>商品の配送及び品質管理には万全を期しております
が、万が一商品の破損やご注文いただいた商品との
相違が御座いましたら、早急にご連絡お願い致しま
す。
また、お客様のご都合による返品は、原則としてお
引き受けしておりません。
返品をご希望される場合は、商品到着後 7 日以内に、
まずお電話にてご連絡を頂けますようお願い致しま
す。製品の状態や状況により返品をお受け出来ない
場合もございますので、予めご了承下さい。<br/>
</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
{% endblock %}