{#
Copyright(c) 2018 GMO Payment Gateway, Inc. All rights reserved.
http://www.gmo-pg.com/
#}
<script>
  $(function () {
    // お問い合わせ欄の直前に追加
    $('#gmo_payment_gateway_docomo_form').insertBefore($('#shopping-form > div > div.ec-orderRole__detail > div.ec-orderConfirm'));
  });
</script>
<style type="text/css">
</style>
<div id="gmo_payment_gateway_docomo_form" class="ec-orderPayment">
  <div class="ec-rectHeading">
  </div>
  <div class="dl_table">
  </div>
</div>
