/*
カラー定義
*/
:root {
    --breeder-main-color: #549B35;
    --adoption-main-color: #F08300;
    --common-main-color: #1343df;
    --bg-color: #ffffff;
    --accent-color: #FF5D5D;
    --gray-500: #424242;
    --gray-400: #7C7C7C;
    --gray-300: #B2B2B2;
    --gray-200: #F0F0F0;
    --gray-100: #F8F8F8;
}

.bg-adoption {
    background-color: var(--adoption-main-color)!important;
    border: var(--adoption-main-color)!important;
}

.bg-sub-adoption {
    background-color: #FFAC69;
}

.bg-section {
    background-color: rgb(248, 220, 160)!important;
}

.color-adoption {
    color: var(--adoption-main-color);
}

.header-nav .nav-link.active{
    background-color: var(--adoption-main-color);
}

.header-nav .nav-link:hover {
    color: var(--adoption-main-color);
}

.nav-pills .show>.nav-link {
    background-color: var(--gray-200);
    color: var(--adoption-main-color);
}

.adoption-btn {
    background-color: var(--adoption-main-color);
}

.adoption-btn:hover {
    background-color: #FFAC69;
}

.pagination .page-item.active .page-link {
    background-color: var(--adoption-main-color);
    border-color: var(--adoption-main-color);
}

.pagination .page-link {
    color: var(--adoption-main-color)
}

.adoption-border {
    border: 3px solid #FFAC69!important;
}

.hidden {
    display: none !important;
}

.sub-title {
    overflow: auto;
}

.btn-like {
    border: 1px solid #dee2e6;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    padding: 4px 0 4px 0;
    cursor: pointer;
}

.btn-like:hover, .red-heart {
    border-color: #ff7d7d;
}

.pet-set-male {
    color: blue;
}

.pet-set-female {
    color: red;
}

video {
    /* override other styles to make responsive */
    width: 100% !important;
    height: auto !important;
}
