/*
カラー定義
*/
:root {
    --breeder-main-color: #549B35;
    --adoption-main-color: #F08300;
    --common-main-color: #1343df;
    --bg-color: #f5e1aa;
    --accent-color: #FF5D5D;
    --gray-500: #424242;
    --gray-400: #7C7C7C;
    --gray-300: #B2B2B2;
    --gray-200: #F0F0F0;
    --gray-100: #F8F8F8;
}

/*DOM*/

body {
    margin: 0;
    font-family: "Hiragino Sans", "ヒラギノ角ゴ Pro W3", "ヒラギノ角ゴ Pro W6", "ヒラギノ角ゴ Pro W7", "Hiragino Kaku Gothic Pro", "Noto Sans JP", "游ゴシック", helvetica, arial, sans-serif!important;
}

footer {
    background-color: white;
    text-align: center;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

h1 {
    font-size: 36px;
    font-weight: 600;
    color: var(--gray-500);
}

h2 {
    font-size: 24px;
    font-weight: 600;
    color: var(--gray-500);
}

h3 {
    font-size: 18px;
    font-weight: 600;
    color: var(--gray-400);
}

h4 {
    font-size: 14px;
    font-weight: 500;
    color: var(--gray-400);
}

h5 {
    font-size: 12px;
    font-weight: 300;
    color: var(--gray-400);
}

h6 {
    font-size: 10px;
    font-weight: 300;
    color: var(--gray-400);
}

p {
    font-size: 14px;
    color: var(--gray-400);
}

a {
    color: var(--gray-400);
    font-weight: 600;
}

a, a:visited, a:focus, a:hover {
    text-decoration: none;
}

li {
    list-style: none;
    color: var(--gray-400);
}

header {
    /* position: fixed; */
    z-index: 2;
    width: 100%;
}

th, td {
    font-size: 12px;
}

@media (max-width: 768px) {
    .side-container {
        display: none;
    }
}


/*共通クラス*/

/* 5 Columns-START */
.col-15, .col-sm-15, .col-md-15, .col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}

@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
        flex: 0 0 20%;
    }
}

@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        flex: 0 0 20%;
    }
}

@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        flex: 0 0 20%;
    }
}
/* 5 Columns-END */

.max-w-1200{
    max-width: 1200px;
}

.p-10 {
    padding: 10rem!important;
}

.justify-flex-end {
    justify-content: flex-end!important;
}

.vertical-align-top {
    vertical-align: top!important;
}

.vertical-align-middle {
    vertical-align: middle!important;
}

.vertical-align-bottom {
    vertical-align: bottom!important;
}

.text-align-center {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
}

/* 背景-START */
.bg-none {
    background: none!important;
}

.bg-primary {
    background-color: var(--bg-color) !important;
}

.bg-white {
    background-color: white!important;
}

.bg-accent {
    background-color: var(--accent-color);
}


.bg-gray-300 {
    background-color: var(--gray-300);
}

/* 背景-END */

/* フォントSTART */
.color-breeder {
    color: var(--breeder-main-color);
}

.color-accent {
    color: var(--accent-color);
}

.color-gray-500 {
    color: var(--gray-500)!important;
}

.color-gray-400 {
    color: var(--gray-400)!important;
}

.color-gray-300 {
    color: var(--gray-300);
}

.color-gray-200 {
    color: var(--gray-200);
}

.color-gray-100 {
    color: var(--gray-100);
}

/* pxでの指定はしない */
/* .font-size-18 {
    font-size: 18px!important;
}

.font-size-16 {
    font-size: 16px!important;
}

.font-size-14 {
    font-size: 14px!important;
}

.font-size-12 {
    font-size: 12px!important;
}

.font-size-10 {
    font-size: 10px!important;
} */

.font-weight-600 {
    font-weight: 600;
}

.font-weight-500 {
}

.font-weight-400 {
    font-weight: 400;
}

.font-weight-300 {
    font-weight: 300;
}
/* フォントSTART */


/*header*/
.dummy-header {
    width: 100%;
    height: 150.44px;
}

.sm-dummy-header {
    width: 100%;
    height: 115.44px;
}

.dummy-header-lp {
    width: 100%;
    height: 93.42px;
}

.sm-dummy-header-lp {
    width: 100%;
    height: 115.44px;
}

.main {
    max-width: 1600px;
    margin: auto;
    /* padding: 2em 4em; */
    padding: 2em 2em;
}

.header-nav .nav-link.active:hover{
    color: white;
}

.header-nav .nav-item a {
    height: 50px;
}

.dropdown-toggle::after {
    display: none;
}

/* サイドメニュー */
/* .side-nav {
    border: solid 1px var(--gray-400)
} */

.side-nav-item {
    width: 100%;
    border-top: none;
}

.side-nav-item:first-child{
    border: none;
}

.side-nav-item a {
    font-weight: 600;
}


/*ハンバーガーメニュー*/
.headerNav {
    right: -100vw;
    top: 0;
    padding-top: 65px;
    -webkit-transition: all .6s;
    transition: all .6s;
    z-index: 20;
    overflow-y: auto;
}

.hamburger_btn {
    right: -2px;
    top: 16px;
    width: 55px;
    height: 55px;
    cursor: pointer;
    z-index: 30;
}
.hamburger_line {
    left: 8px;
    width: 25px;
    height: 2px;
    background-color: var(--gray-500);
    -webkit-transition: all .6s;
    transition: all .6s;
}
.hamburger_line_1 {
    top: 20px;
}
.hamburger_line_2 {
    top: 27px;
}
.hamburger_line_3 {
    top: 34px;
}

.hamburger_menu_btn {
    width: 90%;
    margin:0 auto 10px;
    border-radius: 5px;
}

.black-bg {
    left: 0;
    top: 0;
    z-index: 10;
    background-color: #000;
    opacity: 0;
    -webkit-transition: all .6s;
    transition: all .6s;
    cursor: pointer;
    visibility: hidden;
}

.nav-open .headerNav {
    right: 0;
}

.nav-open .black-bg {
    opacity: .8;
    visibility: visible;
}

.nav-open .hamburger_line_1 {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 25px;
}
.nav-open .hamburger_line_2 {
    width: 0;
    left: 50%;
}
.nav-open .hamburger_line_3 {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 25px;
}


.breadcrumb {
    max-width: 1200px;
    padding: 4em 4em 2em;
}


/*カテゴリエリア*/

.search-list ul > li {
    margin: 10% 0;
}

.search-list ul > li > h5 {
    color:var(--gray-400);
    font-weight: 500;
}

/*ボタン*/

.basic-btn {
    padding: 1em;
    width: 100%;
    font-size: 14px;
    color: white;
    font-weight: 600;
    border-radius: 30px;border: none;

}

.basic-btn:hover {
    color: white;
}



.accent-btn {
    background-color: var(--accent-color);
}

.accent-btn:hover {
    background-color: #FFA2A2;
}

/*new*/

.new-band {
    position: relative;
}

.new-band:after{
    content: "NEW";
    position: absolute;
    width: 5em;
    height: 2em;
    top: 0;
    left: 0;
    background-color: var(--accent-color);
    color: white;
    font-size: 10px;
    text-align: center;
    line-height: 2;
    border: 0;
    border-radius: 7px 0 0 0;
}

.search-list-child li:before {
    position: relative;
    top: -2px!important;
    left: -8px!important;
    display: inline-block;
    width: 15px;
    height: 1px;
    content: '';
    background-color: var(--gray-400);
}


.input-group-lg>.custom-select, .input-group-lg>.form-control:not(textarea), .gender-form {
    height: calc(1.5em + 1rem + 12px);
    font-size: 14px;
}

.search-area select {
    border: none!important;
    font-size: 18px;
    appearance: none;
}

.search-area select:focus {
    background-color: var(--bg-color);
}

.search-area .select-container {
    position: relative;
    margin: 0 10px;
    height: fit-content;
}

.search-area .select-container::after {
    position: absolute;
    /* top: calc(50% - 12px); */
    top: calc(10px);
    right: 38px;
    content: ">";
    transform: rotate(90deg) scaleY(1.414);
    font-size: 18px;
    font-weight: 500;
    color: var(--gray-500);
    pointer-events: none;
}

.search-btn {
    background-color: var(--accent-color);
    padding: 5px;
    margin: 0 10px;
}

.search-btn:hover {
    background-color: #FFA2A2;
}

.catalog-card  img {
    border-radius: 7px 7px 0 0;
}

.catalog-card .card-body {
    border-radius: 0 0 7px 7px;
}

.breed-card img {
    border-radius: 7px;
}

.size-card {
    border-radius: 7px;
}

.size-card > .card-img {
    height: 150px;
    padding-top: 25%;
}

@media (max-width: 768px) {
    .size-card > .card-img {
        height: 100px;
        padding-top: 25%;
    }
}

.group-card {
    border-radius: 7px;
    padding: 1vw;
}

.group-card > h6 {
    padding: 35% 0;
}

.table th {
    background-color: #FFAC69;
    color: white;
    border: 1px solid white;
    width: 10rem;
}

.table td {
    width: 20rem;
}



/*LP*/

.absolute-container {
    width: 400px;
    top: 20%;
    right: 10%;
}

.main-image-view {
    top: 20%;
    left: 10%;
}

.object-fit {
    object-fit: cover;
}

.object-position-80 {
    object-position: 80%;
}

.bg-dna {
    width: 100vw;
    background-image: url("../img/bg-dna-img.png");
    background-position-x: right;
}

.accent-text-box {
    width: fit-content;
    padding: 12px 24px;
    background-repeat: unset;
}

/* 取引メッセージ画面 */

/* 吹き出し */
.balloon-left {
    position: relative;
    display: inline-block;
    margin: 0.5em 0 1.5em;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 100%;
    font-size: 16px;
    background: #FFF;
    box-sizing: border-box;
  }
  
  .balloon-left:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -24px;
    margin-top: -12px;
    border: 12px solid transparent;
    border-right: 12px solid #FFF;
    z-index: 2;
  }
  
  .balloon-left:after {
    content: "";
    position: absolute;
    top: 50%;
    left: -30px;
    margin-top: -14px;
    border: 14px solid transparent;
    z-index: 1;
  }
  
  .balloon-left p {
    margin: 0;
    padding: 0;
  }

  .balloon-right {
    position: relative;
    display: inline-block;
    margin: 0.5em 0 1.5em;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 100%;
    font-size: 16px;
    background: #FFF;
    box-sizing: border-box;
  }
  
  .balloon-right:before {
    content: "";
    position: absolute;
    top: 50%;
    right: -24px;
    margin-top: -12px;
    border: 12px solid transparent;
    border-left: 12px solid #FFF;
    z-index: 2;
  }
  
  .balloon-right:after {
    content: "";
    position: absolute;
    top: 50%;
    right: -30px;
    margin-top: -14px;
    border: 14px solid transparent;
    z-index: 1;
  }
  
  .balloon-right p {
    margin: 0;
    padding: 0;
  }

/* ユーザーイメージ */
.user-img {
    display: flex; 
    justify-content: flex-end; 
    align-items: center; 
    padding-right: 0;
}

/* 保護団体イメージ */
.adoption-img,
.breeder-img {
    display: flex;
    align-items: center;
    padding-left: 0;

}

/* 文章 */
.breeder-info  h3{
    font-weight: 500;
}

/* 基本ドロップダウン */
.form_dropdown {
    /* styling */
    background-color: white;
    border: thin solid rgb(201, 201, 201);
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
  
    /* reset */
    margin: 0;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    
    background-image:
      linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, gray 50%, transparent 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position:
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
}

.search_button {
    border: none;
	padding: 0 40px;
	height: 40px;
	line-height: 1;
	color: #fff;
	border-radius: 5px;
	font-size: 1em;
	cursor: pointer;
}

.search_button:before{
    font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	font-family: "FontAwesome"; 
	font-weight: 900;
	content: '\f002';
	margin-right: 5px;
}
#review_recommend_level {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#review_recommend_level label {
    position: relative;
    bottom: 18px;
    left: 20px;
    line-height: 0;
}
