{% set site_type = 'breeder' %}
{% extends 'ani_frame.twig' %}

{% block main %}
    <h1>Edit Breeders</h1>
    <br>
    <a href="{{ path('breeders_index') }}">< back to list</a>
    <hr>
    {{ include('test/breeders/_form.twig', {'button_label': 'Update'}) }}
{% endblock %}
