{% set site_type = 'breeder' %}
{% extends 'ani_frame.twig' %}

{% block main %}
    <p class="mb-4">
        会員登録が完了しました。<br>
        ここで残り情報を入力する。(保護団体名,運営者指名etc...)
    </p>
    <div class="col-md-8" style="margin: 0 auto;">
        <a class="ec-blockBtn--action bg-breeder mb-4" href={{url('breeder_top')}}>{{ 'TOPへ'|trans }}</a>
    </div>
    </body>
{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/breeder-style.css') }}">
{% endblock %}
{% block javascript %}{% endblock %}
