{% extends 'animalline/veqta/frame.twig' %}

{% block main %}
    <section>
        <div class="inner">
            <div class="ec-pageHeader">
                <h1>{{ '検査結果登録'|trans }}</h1>
            </div>
            <div class="ec-off1Grid">
                <div class="ec-off1Grid__cell">
                    <form method="POST" action="" enctype="multipart/form-data" id="form">
                        <div class="ec-borderedDefs">
                            <div class="mb-5">
                                <dl>
                                    <dt>
                                        検体バーコード読み込み
                                    </dt>
                                    <dd>
                                        <div class="ec-input">
                                            <input type="text" class="w-100" placeholder="123456" name="barcode"
                                                   id="barcode" minlength="6" maxlength="6">
                                        </div>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        検体送付者名
                                    </dt>
                                    <dd>
                                        <div class="ec-input">
                                            <input type="text" class="w-100" name="sender_name" id="sender_name"
                                                   disabled>
                                        </div>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        犬種
                                    </dt>
                                    <dd>
                                        <div class="ec-input">
                                            <input type="text" class="w-100" name="breed_name" id="breed_name" disabled>
                                        </div>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        検査結果
                                    </dt>
                                    <dd id="check_result_kinds">
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        総合検査結果
                                    </dt>
                                    <dd>
                                        <div class="ec-select">
                                            <select name="check_status_total" required>
                                                <option value="">選択してください</option>
                                                <option value="4">検体異常</option>
                                                <option value="61">クリア</option>
                                                <option value="62">キャリア</option>
                                                <option value="7">アフェクテッド</option>
                                            </select>
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                        <div class="ec-registerRole__actions">
                            <div class="ec-off4Grid">
                                <div class="ec-off4Grid__cell">
                                    <button type="submit" class="btn btn-warning w-100 m-1" id="dnaTestResultRegist"
                                            disabled>検査結果登録
                                    </button>
                                    <a href="{{ url('veqta_index') }}" class="btn btn-warning w-100 m-1">戻る</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascript %}
<script>
    $(function () {
    $('#barcode').on('change', function () {
        if ($(this).val().length == 6) {
            callShippingName();
        } else {
            $('#sender_name').val('');
            $('#breed_name').val('');
            $('#barcode').removeAttr('disabled');
        }
    });
    $(document).on('change', 'select[name=check_status_total]', function() {
    if ($(this).val() == 4) {
    $('.check_kind_select').removeAttr('required');
} else {
    $('.check_kind_select').attr('required', true);
}
});
});

    function callShippingName() {
    $.ajax({
        url: "{{ url('read_barcode') }}",
            type: 'GET',
            dataType: 'json',
            data: {
                'barcode': $('#barcode').val()
            }
        }).done(function (data) {
            if (data['hasRecord']) {
            $('#sender_name').val(data['shippingName']);
            $('#breed_name').val(data['breed']);
            $('#dnaTestResultRegist').attr('disabled', !data['checkKind']?.length);
            data['checkKind'].forEach(el => {
            $('#check_result_kinds').append(` <dl style="display: flex; align-items: center;">
                                            <dt style="word-break: break-word; padding-top: 0; width: 70%;">
                                                ${el['check_kind']}
                                                <input hidden name="check_status[kind][]" value="${el['id']}">
                                            </dt>
                                            <dd>
                                                <div class="ec-select ml-4 mt-2">
                                                    <select class="check_kind_select" name="check_status[status][${el['id']}]" required>
                                                        <option value="">選択してください</option>
                                                        <option value="1">クリア</option>
                                                        <option value="2">キャリア</option>
                                                        <option value="3">アフェクテッド</option>
                                                    </select>
                                                </div>
                                            </dd>
                                        </dl>`)
                                        });
            } else {
             alert('データが存在しません。');
             }
        }).fail(function (err) {
            $('#sender_name').val('');
            $('#breed_name').val('');
            $('#dnaTestResultRegist').attr('disabled', true);
            console.error(err);
        });
    }
</script>
{% endblock %}