{% extends 'animalline/veqta/frame.twig' %}

{% block main %}

<div class="center_section">
    <div class="row">
        <div class="col-12">
            <form method="POST" action="" id="form">
                <div class="row">
                    <div class="col-6">
                        検体バーコード読み込み
                    </div>
                    <div class="col-6">
                        <input type="text" class="w-100" placeholder="123456" name="barcode" id="barcode">
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        検体送付者名
                    </div>
                    <div class="col-6">
                        <span id="sender_name"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        検査結果
                    </div>
                    <div class="col-6">
                        <select name="check_status">
                            <option value="">選択してください</option>
                            <option value="4">検体異常</option>
                            <option value="6_1">クリア</option>
                            <option value="6_2">キャリア</option>
                            <option value="7">アフェクテッド</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        検査結果PDF
                    </div>
                    <div class="col-6">
                        <input type="file" accept=".pdf" name="result_pdf">(*.pdf)</input>
                    </div>
                </div>

                <div class="col-12">
                    <button type="submit" class="btn btn-warning w-100 m-1" id="dnaTestResultRegist" disabled>検査結果登録</button>
                </div>
                <div class="col-12">
                    <a href="{{url('veqta_index')}}" class="btn btn-warning w-100 m-1">戻る</a>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).change(function() {
    let shippingName = null
    $("#form").validate({
        rules: {
            barcode: {
                required: true,
                minlength: 6,
                maxlength: 6
            }
        },
        messages: {
            barcode: {
                required: "サンプルバーコードを入力してください",
                minlength: "サンプルバーコードは6文字である必要があります",
                maxlength: "サンプルバーコードは6文字である必要があります"
            }
        },
        submitHandler: function(form) {
            form.submit();
        }
    });
    if($("#form").valid()) {
        $.ajax({
            url: "{{ url('veqta_result') }}",
                type: 'POST',
                dataType: 'json',
                data: {
                    'barcode': $('#barcode').val()
                }
            }).done(function (data) {
                $('#sender_name').text(data[0].shippingName);
            }).fail(function (data) {
                $('#sender_name').text('');
                alert('データが存在しません。');
            });
        document.getElementById("dnaTestResultRegist").disabled = false;
        
    } else {
        document.getElementById("dnaTestResultRegist").disabled = true;
    }
});
</script>
{% endblock %}