.ec-btn--blue {
    background-color: #1343df;
    color: white;
}

th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    text-align: center;
    vertical-align: middle;
    height: 35px;
}

.ec-dna-sales {
    display: table;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.ec-dna-sales tr:last-child td:first-child {
    border-left-width: 0px;
    border-bottom-width: 0px;
}