{% set site_type = 'adoption' %}
{% extends 'ani_frame.twig' %}
{% block main %}
    <h1>Edit AdoptionPets</h1>
    <br>
    <a href="{{ path('conservations_index') }}">< back to list</a>
    <hr>
    {{ include('test/conservations/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}