@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
@import url(https://fonts.googleapis.com/css?family=Pacifico);

/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;}
ul{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;}
q:before,q:after{content:'';}
object,embed{vertical-align:top;}
legend{display:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
img,abbr,acronym,fieldset{border:0;}

html{
	font: 20px Arial,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
	-webkit-text-size-adjust:100%;
	overflow-x: hidden;
	color: #000;
	background: #fff;
	max-width:1024px;
    min-width:320px;
	margin: auto;
}

a{
	color: #0066ff;
	text-decoration: none;
}

a:hover, .active{
  text-decoration: underline;
}

a:active, a:focus,input:active, input:focus{outline:0;}


/* ヘッダー
------------------------------------------------------------*/
#header{
	text-align: center;
}

#header h1{
	padding-top: 60px;
}

#mainnav a{
	color: #000;
}

#mainImg {
	margin: 1.5rem auto 1.5rem auto;
	width: 80%;
	text-align: center;
}

#mainImg img{
	
}

/* フッター
------------------------------------------------------------*/
#footer{
	clear: both;
	padding: 50px 10px 50px 0;
	text-align: center;
	font-size: 12px;
}


/* 共通
------------------------------------------------------------*/

img{
	max-width: 100%;
	height: auto;
}

section{
	clear:both;
}

section h2{
	width: 60%;
	margin: 0 auto;
	font-size: 25px;
	font-weight:normal;
	text-align: center;
	background-size: 1px 1px;
}

section h2 span {
	background: #fff;
	padding: 0 80px;
}

.fullimg {
	width: 90%;
	text-align: center;
	margin: auto;
}

.fullimg img {
	width: 100%;
	height: auto;
}

.inner{
	margin: 0 auto;
	padding-bottom: 50px;
	margin-left: 1rem;
	margin-right: 1rem;
}

.innerSBlue{
	margin: 0 auto;
	padding: 0.8rem 0.8rem 0.8rem 0.8rem;
	margin-bottom: 1.5rem;
	background-color: #D0E1EF;
	border-radius: 1rem;
	margin-left: 1rem;
	margin-right: 1rem;
}

.innerSBlue h2 {
	font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
	font-size: 40px;
	font-weight: 700;
	width: 100%;
	margin-bottom: 1rem;
}

.innerS{
	margin: 0 auto;
	padding: 0.8rem 0.8rem 0.8rem 0.8rem;
	margin-bottom: 1.5rem;
	background-color: #FDF1F1;
	border-radius: 1rem;
	margin-left: 1rem;
	margin-right: 1rem;
}
.innerS h2 {
	font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
	font-size: 40px;
	font-weight: 700;
	width: 100%;
	margin-bottom: 1rem;
	color:crimson;
}

.innerS2{
	margin: 0 auto;
	margin-bottom: 1.5rem;
	margin-left: 1rem;
	margin-right: 1rem;
}

.SiteDescription{
	font-size: 30px;
	margin: 0 auto;
	margin-bottom: 1.5rem;
	margin-left: 1rem;
	margin-right: 1rem;
}

.innerImg{
	text-align: center;
	margin-bottom: 1.5rem;
	margin-left: 1rem;
	margin-right: 1rem;
}

.titleImg{
	text-align: center;
	margin-top: 2rem;
	margin-left: 1rem;
	margin-right: 1rem;
}

.companyS{
	text-align: center;
	width: 90%;
	margin: 0 auto;
	padding-bottom: 30px;
}

.titleS{
	width: 90%;
	margin: 0 auto;
	padding-bottom: 10px;
	padding-top: 30px;
	text-align: center;
}

.buttonS{
	width: min(80%,700px);
	margin: 0 auto;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: center;
}

.buttonReg{
	width: 100%;
	margin: 0 auto;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: center;
}


.btn,
a.btn,
button.btn {
	font-size: 40px;
	font-weight: 600;
	line-height: 1.5;
	position: relative;
	display: inline-block;
	padding: 1.5rem 2rem;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	letter-spacing: 0.1em;
	color: #212529;
	border-radius: 0.5rem;
}

.btn--orange,
a.btn--orange {
	color: #fff;
	background-color: #ED6C00;
}
.btn--orange:hover,
a.btn--orange:hover {
	color: #fff;
	background: #ED6C00;
}

.btn--green,
a.btn--green {
	color: #fff;
	background-color: #046324;
}
.btn--green:hover,
a.btn--green:hover {
	color: #fff;
	background: #028117;
}

/* SEC02 Gallery
------------------------------------------------------------*/
#sec02{
	padding: 0 !important;
}

#sec02 header{
	display: none;
}

#gallery li{
	float: left;
	width: calc(100%/3);
	line-height: 0;
}

#gallery img{
	width: 100%;
	height: auto;
}


/* SEC03 PROJECT
------------------------------------------------------------*/
#sec03 img{
	width: 100%;
	margin-bottom: 30px;
}


/* SEC04 BRAND
------------------------------------------------------------*/
.col3 img{
	display: block;
	margin: 0 auto 5px;
}

.col3 li{
	line-height: 2.0;
}

.col3 .img{
	padding: 80px 50px;
	margin-bottom: 40px;
	line-height: 0 !important;
	background: #f6f6f6;
}

#sec04_02{
	background: url(../../img/reg/bgSec04.jpg) no-repeat 100% 100% fixed;
	background-size: cover;
	-webkit-background-size: cover;
	text-align: center;
	padding: 220px 20px;
}

#sec04_02 img{
	width: auto;
}


/* SEC05 COMPANY
------------------------------------------------------------*/
#sec05 p{
	margin-bottom: 5px;
}

.col2 li{
	display: inline-block;
	width: 100%;
	margin: 20px 0;
}

#sns img{
	padding: 35px 10px 5px 0;
}

#sns a:hover img{
	opacity: .8;
}

#map{
	position: relative;
	padding-bottom: 75%;
	height: 0;
	overflow: hidden;
	z-index: 0;
}

#map iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
	border: 0;
}

.top_margin_l {
	margin-top: 2rem;
}

.top_margin_xl {
	margin-top: 4rem;
}

.animalline-image{
	margin: 0 auto 0 auto;
	width: 50%;
}

.strong-text{
	font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
	font-size: 25px;
	color: crimson;
}
/* RESPONSIVE 設定
------------------------------------------------------------*/
/*------------------
Width <= 1200px
------------------*/
@media screen and (max-width: 1280px) {
	html{
		font-size:20px;
	}
}

/*------------------
Width <= 980px
------------------*/
@media screen and (max-width: 980px) {
	html{
		font-size:20px;
	}
}

/*------------------
Width <= 768px
------------------*/
@media screen and (max-width: 768px) {
	html{
		font-size:16px;
	}
	.btn,
	a.btn,
	button.btn {
		font-size:20px;
	}

	.SiteDescription{
		font-size: 20px;
	}

	.innerSBlue h2 {
		font-size: 20px;
		font-weight: 700;
	}

	.innerS h2 {
		font-size: 24px;
		font-weight: 900;
	}
}

/*------------------
Width <= 640px
------------------*/
@media screen and (max-width: 640px) {
	.btn,
	a.btn,
	button.btn {
		margin: 1rem;
		padding: 1.5rem 1rem;
		font-size:17px;
	}
}

/*------------------
Width <= 480px
------------------*/
@media screen and (max-width: 480px) {


}

/*------------------
Width <= 375px
------------------*/
@media screen and (max-width: 375px) {

}