{% set site_type = 'adoption' %}
{% extends 'ani_frame.twig' %}

{% block main %}
    <div class="main">
        <div class="row">
            <div class="main-container col-12">
                <h1>よくある質問</h1>
                <div class="m-4 p-4"></div>
                    <div class="row">
                        <div class="col-12">
                            <div class="d-sm-flex justify-content-between py-5 border adoption-border rounded">
                                <div class="ml-5">
                                    <h3 class="m-2 p-2">質問１</h3>
                                    <h3 class="m-2 p-2">回答１</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-2 p-2"></div>
                    <div class="row">
                        <div class="col-12">
                            <div class="d-sm-flex justify-content-between py-5 border adoption-border rounded">
                                <div class="ml-5">
                                    <h3 class="m-2 p-2">質問２</h3>
                                    <h3 class="m-2 p-2">回答２</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-2 p-2"></div>
                    <div class="row">
                        <div class="col-12">
                            <div class="d-sm-flex justify-content-between py-5 border adoption-border rounded">
                                <div class="ml-5">
                                    <h3 class="m-2 p-2">質問３</h3>
                                    <h3 class="m-2 p-2">回答３</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-2 p-2"></div>
                    <div class="row">
                        <div class="col-12">
                            <div class="d-sm-flex justify-content-between py-5 border adoption-border rounded">
                                <div class="ml-5">
                                    <h3 class="m-2 p-2">質問４</h3>
                                    <h3 class="m-2 p-2">回答４</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-2 p-2"></div>
                    <div class="row">
                        <div class="col-12">
                            <div class="d-sm-flex justify-content-between py-5 border adoption-border rounded">
                                <div class="ml-5">
                                    <h3 class="m-2 p-2">質問５</h3>
                                    <h3 class="m-2 p-2">回答５</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-2 p-2"></div>
                </div>
            </div>
        </div>
    </div>
</body>{% endblock %}{% block stylesheet %}
<link rel="stylesheet" href="{{ asset('assets/css/adoption-style.css') }}">
{% endblock %}
{% block javascript %}{% endblock %}
