{% set site_type = 'adoption' %}
{% extends 'animalline/adoption/frame.twig' %}

{% block main %}
<section id="breeder-column">
    <div class="inner">
        <div class="ec-role">
            <div class="ec-pageHeader">
                <h1>Animalline 里親募集会員規約</h1>
            </div>
            <div class="ec-off1Grid">
                <div class="ec-off1Grid__cell">
                    「Animalline里親募集会員規約」（以下「当規約」）は、グローバル・ブリッジ・ジャパン株式会社（以下「当社」）が当社のウェブサイト「Animalline」（以下「当サイト」）の利用者に対し、提供する全てのサービス（以下「当サービス」）の利用条件を定めるものです。
                    <div class="m-2 p-2"></div>
                    <h3 class="font-weight-600">1. 定義</h3>
                    当利用規約において使用する用語の意義は、次の各号に定めるとおりとします。
                    <div class="pl-4">
                        <div class="m-1 p-1"></div>
                        <div class="mb-1">1. 「利用者」とは、本サイト上での会員登録の有無にかかわらず、本サービスを利用する全ての方をいいます。</div>
                        <div class="mb-1">2. 「里親応募者」とは、動物の里親を希望する方をいいます。</div>
                        <div class="mb-1">3. 「里親応募会員」とは、利用者のうち、本サイト上で会員登録手続を行った里親応募者をいいます。</div>
                        <div class="mb-1">4. 「里親募集者」とは、動物の里親を探したい方をいいます。</div>
                        <div class="mb-1">5. 「里親募集会員」とは、利用者のうち、当サイト上で会員登録手続を行い、当サイトに動物の情報を掲載することができる里親募集者をいいます。</div>
                        <div class="mb-1">6. 「会員情報」とは、ユーザー会員の氏名、メールアドレス、パスワード、性別等、ユーザー会員の登録時に入力したすべての情報をいいます。</div>
                        <div class="mb-1">7. 「個人情報」とは、利用者個人の情報であり、個人の氏名、生年月日、年齢、性別、住所、電話番号、電子メールアドレスなどの特定の個人を識別することができる情報をいいます。また、その情報のみでは識別できない場合でも、他の情報と容易に照合することができ、結果的に利用者個人を識別できるものも個人情報に含まれます。</div>
                    </div>
                    <div class="m-1 p-1"></div>
                    <h3 class="font-weight-600">2. 提供サービス</h3>
                    当サイトでは、里親募集者に動物の情報を掲載する場を提供し、里親応募者と直接連絡を取り合える機会を提供します。よって、動物の譲渡契約は「里親募集者」と「里親応募者」の二者の間で行うものであり、当社は契約の当事者にはなりません。
                    <div class="m-1 p-1"></div>
                    <h3 class="font-weight-600">3. 会員登録・情報</h3>
                    <div class="pl-4">
                        <div class="mb-1">1. 当社は、里親応募会員のみに対し、里親募集会員への問合せ・質問機能その他当社が別途定める里親応募会員用のサービスを提供します。</div>
                        <div class="mb-1">2. 里親募集会員となることを希望する利用者は、本サイトが提供する里親募集会員登録画面より、当社の指定する書式において、インターネット回線、FAX、その他を通じて、必要な情報を送信することで、会員登録を行うことができます。</div>
                        <div class="mb-1">3. 当社は、前項の情報を問題なく受信したことを確認できた場合、本サイトの里親募集会員として承諾し、登録します。</div>
                        <div class="mb-1">4. 利用者は、会員登録する際、自身の情報として真実かつ正確な情報を入力するものとします。当社は、登録された会員情報が真実かつ正確でないと判断した場合、里親募集会員の承諾なしに、当社の判断をもって、当該会員情報を削除または変更することができるものとします。</div>
                        <div class="mb-1">5. 里親募集会員は、会員情報に変更があった場合、速やかに登録した会員情報の内容の変更を行うものとします。</div>
                        <div class="mb-1">6. 里親募集会員が入力した情報については里親募集会員が一切の責任を負うものとします。</div>
                        <div class="mb-1">7. 里親募集会員は、自身が行ったかどうかを問わず（ユーザー会員のメールアドレスやパスワード等を盗用されて使用された場合や不正使用された場合も含みます。）、自身のアカウントを通じて行われた行為については、一切の責任を負うものとします。</div>
                    </div>
                    <div class="m-1 p-1"></div>
                    <h3 class="font-weight-600">4. 退会・強制退会</h3>
                    <div class="pl-4">
                        <div class="mb-1">1.里親募集会員は、当社所定の手続きを行うことで退会することができます。退会を希望する場合は事務局までお問い合わせください。</div>
                        <div class="mb-1">2.里親募集会員が退会した場合、当社が保有する里親募集会員の個人情報は、プライバシーポリシーに従い処理するものとします。</div>
                        <div class="mb-1">3.当社は、里親募集会員が以下に該当する場合、事前通知することなく強制退会処分とすることができるものとします。</div>
                        <div class="pl-3">
                            <div class="mb-1">1.当規約に反する行為を行った場合</div>
                            <div class="mb-1">2.当社または利用者への迷惑行為</div>
                            <div class="mb-1">3.その他当社が会員として不適当と判断した場合</div>
                        </div>
                    </div>
                    <div class="m-1 p-1"></div>
                    <h3 class="font-weight-600">5. サービスの中断・停止</h3>
                    当社は、当サービスの稼動状態を良好に保つために、次の各号の一に該当する場合、予告なしに、当サービスの提供全てあるいは一部を停止することがあります。
                    <div class="pl-4">
                        <div class="m-1 p-1"></div>
                        <div class="mb-1">1.システムの定期保守および緊急保守のために必要な場合</div>
                        <div class="mb-1">2.システムに負荷が集中した場合</div>
                        <div class="mb-1">3.火災、停電、第三者による妨害行為などによりシステムの運用が困難になった場合</div>
                        <div class="mb-1">4.その他、止むを得ずシステムの停止が必要と当社が判断した場合</div>
                    </div>
                    <div class="m-1 p-1"></div>
                    <h3 class="font-weight-600">6. サービスの変更・廃止</h3>
                    当社は、その判断により当サービスの全部または一部を事前の通知なく、適宜変更・廃止できるものとします。
                    <div class="m-1 p-1"></div>
                    <h3 class="font-weight-600">7. 会員資格の取り消し</h3>
                    当社は、里親募集会員が以下に該当する行為を行い、または行うおそれがあると判断した場合、当該里親募集会員に対する事前の承諾なく、会員資格を取り消すことができるものとします。
                    <div class="pl-4">
                        <div class="m-1 p-1"></div>
                        <div class="mb-1">1.当サイトに不適切な情報を掲載している場合</div>
                        <div class="mb-1">2.パスワードの不正利用があった場合</div>
                        <div class="mb-1">3.会員情報に虚偽がある場合</div>
                        <div class="mb-1">4.当規約に反する行為があった場合</div>
                        <div class="mb-1">5.その他当社が不適切と判断する事由があった場合</div>
                    </div>
                    <div class="m-1 p-1"></div>
                    <h3 class="font-weight-600">8. 免責事項</h3>
                    当社は、以下につき責任を負いません。
                    <div class="pl-4">
                        <div class="m-1 p-1"></div>
                        <div class="mb-1">1. 当サイトに掲載されている里親募集動物に関する全ての事項について</div>
                        <div class="mb-1">2. 当サイトを利用することにより、利用者に発生するいかなる損害（利用者の設定ミスによる損害等含む）</div>
                        <div class="mb-1">3. 当サイト・里親募集者・里親応募者・その他第三者等の間で発生した一切の事項</br>
                        ※里親募集者、里親応募者、その他第三者の間でのトラブルに関しては当事者間で解決してください。</div>
                        <div class="mb-1">4. 当サイトが何らかの理由で閲覧不可能な状態であった場合、当サイトを利用する際にコンピュータウイルス等有害なプログラム等による損害を受けた場合等の損害に関して</div>
                        <div class="mb-1">5. 当サイトの運用が一時的に停止され、これに起因して損害が発生した場合</div>
                    </div>
                    <div class="m-1 p-1"></div>
                    <h3 class="font-weight-600">9. 禁止事項</h3>
                    <div class="pl-4">
                       <div class="mb-1"> 1.里親募集会員は、当サービスの利用に際して、以下の行為を行ってはならないものとします。</div>
                       <div class="pl-3">
                            <div class="mb-1">1.当規約に違反する行為または違反するおそれのある行為</div>
                            <div class="mb-1">2.犯罪的行為に結びつく、または結びつくことを暗示する行為</div>
                            <div class="mb-1">3.犯罪行為を推奨・助長する行為</div>
                            <div class="mb-1">4.他の利用者、また第三者の個人を特定できる情報を公開する行為</div>
                            <div class="mb-1">5.わいせつ、児童ポルノ、児童虐待に類すると当社が判断できる内容を掲載する行為</div>
                            <div class="mb-1">6.他者になりすまし、当サイトを利用する行為</div>
                            <div class="mb-1">7.法令に反する行為</div>
                            <div class="mb-1">8.不正な行為による当サイトのインフラへの攻撃行為</div>
                            <div class="mb-1">9.故意に当サイトのシステムへ負荷をかける行為</div>
                            <div class="mb-1">10.当社が承認した以外の方法で、金銭的な利害が生じる行為</div>
                            <div class="mb-1">11.当サイトとは関係ない団体やサイト、活動にたいしての勧誘行為</div>
                            <div class="mb-1">12.第三者の知的所有権を侵害する行為</div>
                            <div class="mb-1">13.他の利用者、または第三者へ対する誹謗中傷行為</div>
                            <div class="mb-1">14.一人の利用者が、不正目的で重複したユーザー会員のアカウントを所有する行為</div>
                            <div class="mb-1">15.第三者に対して当社に無断で広告、宣伝、勧誘などを行う行為</div>
                            <div class="mb-1">16.当サイトの運営を妨げる行為</div>
                            <div class="mb-1">17.当社または利用者、第三者の著作権、商標権などの知的財産権を侵害する行為、または侵害するおそれのある行為</div>
                            <div class="mb-1">18.当社､または第三者の権利､名誉､利益､円滑な営業を不当に侵害する行為､またはそのおそれのある行為</div>
                            <div class="mb-1">19.その他、当社が不適切と判断する行為</div>
                        </div>
                        <div class="mb-1">2.里親募集会員が以下のいずれかの者に該当する場合には、当該里親募集会員は、当サービスを利用することができないものとします</div>
                        <div class="pl-3">
                            <div class="mb-1">1.暴力団</div>
                            <div class="mb-1">2.暴力団員</div>
                            <div class="mb-1">3.暴力団準構成員</div>
                            <div class="mb-1">4.暴力団関係企業</div>
                            <div class="mb-1">5.総会屋等、社会運動等標榜ゴロまたは特殊知能暴力集団等</div>
                            <div class="mb-1">6.その他前各号に準じる者</div>
                        </div>
                        <div class="mb-1">3.里親募集会員が第1項各号の行為を行っている場合、里親募集会員が前項各号に該当する場合その他当社が不適切と考えた場合は、里親募集会員への通知無く、当サイトの利用を停止し、会員資格を取り消すことができるものとします。この場合において、当社が損害を被った場合は、当社は里親募集会員に対し、当該損害の賠償を請求できるものとします。</div>
                        <div class="mb-1">4.保険募集行為</div>
                        <div class="mb-1">保険商品は法令により適切な取り扱いが求められていることから、募集人届出を行っていない場合、保険募集や類似の行為は一切行えません。</div>
                    </div>
                    <div class="m-1 p-1"></div>
                    <h3 class="font-weight-600">10. 著作権</h3>
                    <div class="pl-4">
                        <div class="mb-1">1.当サイトに掲載された内容に関する権利は、当社または掲載者に帰属するため、無断転載・流用を禁止いたします。</div>
                        <div class="mb-1">2.当サイトに投稿・掲載されたコンテンツについて、当社は、当サイト内および関連サービスにおいて自由に使用できるものとします。</div>
                    </div>
                    <div class="m-1 p-1"></div>
                    <h3 class="font-weight-600">11. 個人情報の取り扱い</h3>
                    <div class="pl-4">
                        <div class="mb-1">1.当社は、当社が取得したブリーダー会員の個人情報に関し、別途定める「プライバシーポリシー」に基づいて適切に取り扱うものとします。</div>
                        <div class="mb-1">2.当サイトでは、以下の目的で、個人情報を取得・利用するものとし、里親募集会員はこれに同意するものとします。</div>
                        <div class="pl-3">
                            <div class="mb-1">1.当サービスその他の当社のサービスの提供・運営・管理のため</div>
                            <div class="mb-1">2.当サービスの改善又は新商品・新サービスの開発のため</div>
                            <div class="mb-1">3.当サービスを提供するための個人認証のため</div>
                            <div class="mb-1">4.当社の商品・サービスに関するお知らせ又はご案内のため</div>
                            <div class="mb-1">5.当社のプレゼントやキャンペーン等のお知らせ又はご案内のため</div>
                            <div class="mb-1">6.当社のプレゼントやキャンペーン等を行う提携先企業への提供のため</div>
                            <div class="mb-1">7.ペットに関する保険商品やサービスを提供する保険会社への提供のため</div>
                            <div class="mb-1">8.利用者からのお問合せ対応のため</div>
                            <div class="mb-1">9.その他前各号に付随、関連する業務を遂行するため</div>
                        </div>
                        <div class="mb-1">3.利用者自らがサイト上の機能もしくは別の手段を用いて自身を特定できる情報を相手に開示した際には、当サイトでは一切の責任を負いません。</div>
                    </div>
                    <div class="m-1 p-1"></div>
                    <h3 class="font-weight-600">12. 準拠法・管轄裁判所等</h3>
                    当規約は日本法を準拠法とします。なお、当サイトに関する全ての紛争については、東京地方裁判所を第一審の専属的合意管轄裁判所とします。

                    <div class="m-1 p-1"></div>
                    <h3 class="font-weight-600">13. 寄付金の支払い</h3>
                    譲渡先の里親応募会員が、当サイトのEC等サービスを利用し取引成立した場合、当社は里親募集会員にたいして売上の一部を継続的に寄付金として支払います。
                    <div class="m-1 p-1"></div>
                    以上
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/adoption-style.css') }}">
{% endblock %}
{% block javascript %}{% endblock %}