monolog:
    channels: ['front', 'admin']

    handlers:
        main:
            type: rotating_file
            path: "%kernel.logs_dir%/dev.log"
            level: debug
            max_files: 30
            formatter: monolog.formatter.line
            channels: ["!event"]  # event ログは除外